workflow_update.json
{
  "updatedAt": "2026-04-20T10:14:33.067Z",
  "createdAt": "2026-04-02T04:25:20.429Z",
  "id": "xfoZCPSjPCjzMTuNcBTMC",
  "name": "ГРУЗАП ДАШБОРД",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "5aac841a-a8cc-41e5-a0f0-6a52d9bea888",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2080,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gruzap-dashboard",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "416b6158-566d-4d66-a015-905e216b40d8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2080,
        448
      ],
      "webhookId": "a7c3e591-22fd-4b8a-9d0e-bf5678901234"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json && $json.body) ? $json.body : ($json || {});\nconst rawDateFrom = typeof payload.date_from === 'string' ? payload.date_from.trim() : '';\nconst rawDateTo = typeof payload.date_to === 'string' ? payload.date_to.trim() : '';\nconst rawPeriodLabel = typeof payload.period_label === 'string' ? payload.period_label.trim() : '';\nconst rawSource = typeof payload.source === 'string' ? payload.source.trim() : '';\n\nlet dateFrom = rawDateFrom || null;\nlet dateTo = rawDateTo || null;\nlet periodLabel = rawPeriodLabel || null;\n\nconst derivablePeriods = new Set(['today', 'yesterday', 'last_7_days', 'last_30_days', 'this_month']);\n\nfunction fmt(date) {\n  const y = date.getFullYear();\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const d = String(date.getDate()).padStart(2, '0');\n  return y + '-' + m + '-' + d;\n}\n\nif (!dateFrom && !dateTo) {\n  const now = new Date();\n  const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n  const yesterday = new Date(today);\n  yesterday.setDate(today.getDate() - 1);\n\n  if (!periodLabel) {\n    periodLabel = 'yesterday';\n  }\n\n  if (derivablePeriods.has(periodLabel)) {\n    switch (periodLabel) {\n      case 'today':\n        dateFrom = fmt(today);\n        dateTo = fmt(today);\n        break;\n      case 'yesterday':\n        dateFrom = fmt(yesterday);\n        dateTo = fmt(yesterday);\n        break;\n      case 'last_7_days': {\n        const start = new Date(today);\n        start.setDate(today.getDate() - 7);\n        dateFrom = fmt(start);\n        dateTo = fmt(yesterday);\n        break;\n      }\n      case 'last_30_days': {\n        const start = new Date(today);\n        start.setDate(today.getDate() - 30);\n        dateFrom = fmt(start);\n        dateTo = fmt(yesterday);\n        break;\n      }\n      case 'this_month': {\n        const first = new Date(today.getFullYear(), today.getMonth(), 1);\n        dateFrom = fmt(first);\n        dateTo = fmt(today);\n        break;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    route: 'dashboard',\n    raw_payload: payload,\n    raw_source: rawSource || null,\n    raw_period_label: rawPeriodLabel || null,\n    date_from: dateFrom,\n    date_to: dateTo,\n    period_label: periodLabel || null,\n    request_source: (rawDateFrom || rawDateTo) ? 'explicit' : 'derived',\n  }\n}];"
      },
      "id": "4719118b-df0c-4f3c-8856-23b5b541912f",
      "name": "Normalize Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
            },
            {
              "name": "metrics",
              "value": "ym:ce2:devicesWithEvent,ym:ce2:allEvents"
            },
            {
              "name": "dimensions",
              "value": "ym:ce2:eventLabel"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "sort",
              "value": "-ym:ce2:allEvents"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "df9df543-af8d-465f-9c47-374e07373edc",
      "name": "Fetch AppMetrica Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        -64
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst rows = Array.isArray(input.data) ? input.data : [];\nconst events = rows.map((row) => ({\n  event_name: row?.dimensions?.[0]?.name || 'Unknown event',\n  unique_devices: Number(row?.metrics?.[0]) || 0,\n  total_events: Number(row?.metrics?.[1]) || 0,\n}));\n\nreturn [{\n  json: {\n    source_request_ok: Array.isArray(input.data),\n    events,\n    upstream_error: input.error || input.message || null,\n  }\n}];"
      },
      "id": "dd0cbeca-0f9d-40ac-853a-d75bb032e7bf",
      "name": "Format App Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gruzap-analytics",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "86d0aba1-88c3-489e-80af-ae6a5beb28ad",
      "name": "Webhook Analytics",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1984,
        960
      ],
      "webhookId": "c9d8e7f6-5432-4abc-def0-123456789abc"
    },
    {
      "parameters": {
        "prompt": "={{ $json.prompt }}"
      },
      "id": "505e0ad9-3c23-4130-8f08-8aa9c52954f8",
      "name": "Generate Analytics Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.2,
      "position": [
        -1296,
        960
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "7113de09-65f2-45b4-833b-83271370921a",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1296,
        1168
      ],
      "credentials": {
        "anthropicApi": {
          "id": "TANiFJGJNiy8a25a",
          "name": "Аналитик и СММ - Клод"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
            },
            {
              "name": "metrics",
              "value": "ym:ce2:devicesWithEvent"
            },
            {
              "name": "dimensions",
              "value": "ym:ce2:regionCity"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "sort",
              "value": "-ym:ce2:devicesWithEvent"
            },
            {
              "name": "limit",
              "value": "8"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "10e6900a-e0f0-4b83-a52a-c40dae61ce3d",
      "name": "Fetch AppMetrica Geo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function readBySource(source) {\n  const input = $input.first().json || {};\n  const sources = Array.isArray(input.sources) ? input.sources : [];\n  return sources.find((item) => item?.source === source) || null;\n}\n\nconst cfg = $('Resolve Source Config').first().json || {};\nconst app = readBySource('appmetrica');\nconst metrika = readBySource('metrika');\nconst direct = readBySource('direct');\n\nconst requestedResults = [app, metrika, direct].filter((item) => item?.requested);\nconst successfulResults = requestedResults.filter((item) => item.ok);\nconst failedResults = requestedResults.filter((item) => !item.ok);\n\nconst warnings = [\n  ...(cfg.config_warnings || []),\n  ...requestedResults.flatMap((item) => (Array.isArray(item.warnings) ? item.warnings : [])),\n];\n\nconst errors = failedResults.flatMap((item) =>\n  Array.isArray(item.errors) ? item.errors.map((error) => ({ source: item.source, ...error })) : [],\n);\n\nreturn [\n  {\n    json: {\n      success: requestedResults.length > 0 ? failedResults.length === 0 : true,\n      partial_failure: successfulResults.length > 0 && failedResults.length > 0,\n      errors,\n      warnings,\n      period: {\n        from: cfg.date_from || null,\n        to: cfg.date_to || null,\n      },\n      data: {\n        appmetrica: app?.data?.appmetrica || null,\n        metrika: metrika?.data?.metrika || null,\n        direct: direct?.data?.direct || null,\n        finance: app?.data?.finance || null,\n      },\n      source_status: {\n        appmetrica: {\n          requested: !!app?.requested,\n          ok: !!app?.ok,\n          error_code: app?.error_code || null,\n          error_message: app?.error_message || null,\n          warnings: app?.warnings || [],\n          has_data: !!app?.meta?.has_data,\n        },\n        metrika: {\n          requested: !!metrika?.requested,\n          ok: !!metrika?.ok,\n          error_code: metrika?.error_code || null,\n          error_message: metrika?.error_message || null,\n          warnings: metrika?.warnings || [],\n          has_data: !!metrika?.meta?.has_data,\n        },\n        direct: {\n          requested: !!direct?.requested,\n          ok: !!direct?.ok,\n          error_code: direct?.error_code || null,\n          error_message: direct?.error_message || null,\n          warnings: direct?.warnings || [],\n          has_data: !!direct?.meta?.has_data,\n        },\n      },\n      generated_at: new Date().toISOString(),\n    },\n  },\n];"
      },
      "id": "cd01b8c3-af39-4e9f-9520-2a5d50bee6fe",
      "name": "Build Dashboard Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "6272311"
            },
            {
              "name": "metrics",
              "value": "ym:i:devices"
            },
            {
              "name": "dimensions",
              "value": "ym:i:campaignName"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "sort",
              "value": "-ym:i:devices"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2edac235-8cc3-49ca-8d22-2c8e9ff0608a",
      "name": "Fetch AppMetrica Inst1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        48
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "4735402"
            },
            {
              "name": "metrics",
              "value": "ym:i:devices"
            },
            {
              "name": "dimensions",
              "value": "ym:i:campaignName"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.inst2_date_to }}"
            },
            {
              "name": "sort",
              "value": "-ym:i:devices"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c2f3c5a7-b135-45ce-bf5a-f464fe6633ae",
      "name": "Fetch AppMetrica Inst2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api-metrika.yandex.net/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
            },
            {
              "name": "metrics",
              "value": "ym:s:visits,ym:s:users,ym:s:bounceRate,ym:s:avgVisitDurationSeconds"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "64807ef4-5aae-49d2-a5b3-986e4036f0a1",
      "name": "Fetch Metrika Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1360,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api-metrika.yandex.net/stat/v1/data/bytime",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
            },
            {
              "name": "metrics",
              "value": "ym:s:visits,ym:s:users"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "group",
              "value": "day"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "904f813e-45c3-45d6-b0cb-d5f501878f49",
      "name": "Fetch Metrika By Time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api-metrika.yandex.net/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
            },
            {
              "name": "metrics",
              "value": "ym:s:visits,ym:s:users,ym:s:bounceRate"
            },
            {
              "name": "dimensions",
              "value": "ym:s:lastTrafficSource"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "sort",
              "value": "-ym:s:visits"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "6037dbee-ddc5-4fe9-a8cf-19372c6bc1e1",
      "name": "Fetch Metrika Sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api-metrika.yandex.net/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
            },
            {
              "name": "metrics",
              "value": "ym:s:visits,ym:s:users"
            },
            {
              "name": "dimensions",
              "value": "ym:s:startURL"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "filters",
              "value": "ym:s:startURL=~'telegram' OR ym:s:startURL=~'t.me'"
            },
            {
              "name": "sort",
              "value": "-ym:s:visits"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "338fbf74-219b-4ec2-a0f1-a25f1637cb58",
      "name": "Fetch Metrika Bot Traffic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Resolve Source Config').first().json;\nconst periodMap = {\n  yesterday: 'YESTERDAY',\n  today: 'TODAY',\n  last_7_days: 'LAST_7_DAYS',\n  last_30_days: 'LAST_30_DAYS',\n  this_month: 'THIS_MONTH'\n};\nconst nativePeriod = periodMap[d.period_label];\nconst fieldNames = ['Date','Clicks','Impressions','Ctr','AvgCpc','Cost','Conversions','CostPerConversion'];\nlet params;\nif (nativePeriod) {\n  params = {\n    SelectionCriteria: {},\n    FieldNames: fieldNames,\n    ReportName: 'gruzap_dashboard_' + nativePeriod.toLowerCase(),\n    ReportType: 'ACCOUNT_PERFORMANCE_REPORT',\n    DateRangeType: nativePeriod,\n    Format: 'TSV',\n    IncludeVAT: 'YES',\n    IncludeDiscount: 'YES'\n  };\n} else {\n  params = {\n    SelectionCriteria: { DateFrom: d.date_from, DateTo: d.date_to },\n    FieldNames: fieldNames,\n    ReportName: 'gruzap_dashboard_custom',\n    ReportType: 'ACCOUNT_PERFORMANCE_REPORT',\n    DateRangeType: 'CUSTOM_DATE',\n    Format: 'TSV',\n    IncludeVAT: 'YES',\n    IncludeDiscount: 'YES'\n  };\n}\nreturn [{\n  json: {\n    ...d,\n    direct_request_body: JSON.stringify({ params })\n  }\n}];"
      },
      "id": "54fc0f86-a34d-4f13-ae89-839eff95d10f",
      "name": "Build Direct Request Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.direct.yandex.com/json/v5/reports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
            },
            {
              "name": "Client-Login",
              "value": "={{ $('Resolve Source Config').first().json.client_login }}"
            },
            {
              "name": "Accept-Language",
              "value": "ru"
            },
            {
              "name": "processingMode",
              "value": "auto"
            },
            {
              "name": "skipReportHeader",
              "value": "true"
            },
            {
              "name": "skipColumnHeader",
              "value": "false"
            },
            {
              "name": "skipReportSummary",
              "value": "true"
            },
            {
              "name": "returnMoneyInMicros",
              "value": "false"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.direct_request_body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "4136ee16-0204-4e1c-a2ef-9e7126dd29ec",
      "name": "Fetch Direct Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        672
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Validate Request Contract').first().json || {};\nconst raw = validated.normalized_request || {};\nconst payload = raw.raw_payload || {};\nconst configWarnings = [];\n\nconst legacyAppEndDate = '2026-03-31';\nconst primaryAppId = '6272311';\nconst legacyAppId = '4735402';\nconst useLegacyApp = !!raw.date_from && raw.date_from < '2026-04-01';\nconst appIds = useLegacyApp ? primaryAppId + ',' + legacyAppId : primaryAppId;\nconst inst2DateTo = useLegacyApp ? (raw.date_to > legacyAppEndDate ? legacyAppEndDate : raw.date_to) : raw.date_to;\n\nconst yandexOauthToken = payload.yandex_oauth_token || $env.YANDEX_OAUTH_TOKEN || $env.YANDEX_TOKEN || 'y0__xCIj9GiBxjMqD8gnNLv6xYi53tNIuy00fSsAXVvz3ME1dx2Lg';\nconst appmetricaToken = payload.appmetrica_token || $env.APPMETRICA_TOKEN || 'y0__xCIj9GiBxi1vz8gk8e18BYV3hcGH9BGMLJrW38Yqfst56Q4fA';\nconst clientLogin = payload.client_login || 'siberian.gruzoviki';\nconst metrikaCounterId = payload.metrika_counter_id || '105289797';\nconst requestedSources = Array.isArray(raw.requested_sources) ? raw.requested_sources : ['appmetrica', 'metrika', 'direct'];\n\nif (useLegacyApp) {\n  configWarnings.push('legacy_app_window_applied');\n}\n\nreturn [{\n  json: {\n    ...raw,\n    app_ids: appIds,\n    inst2_date_to: inst2DateTo,\n    yandex_oauth_token: yandexOauthToken,\n    appmetrica_token: appmetricaToken,\n    client_login: clientLogin,\n    metrika_counter_id: metrikaCounterId,\n    legacy_app_end_date: legacyAppEndDate,\n    requested_sources: requestedSources,\n    request_appmetrica: requestedSources.includes('appmetrica'),\n    request_metrika: requestedSources.includes('metrika'),\n    request_direct: requestedSources.includes('direct'),\n    config_warnings: configWarnings,\n  }\n}];"
      },
      "id": "2df6c9c7-d4f5-4e5c-9a03-1f79410f1111",
      "name": "Resolve Source Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -368
      ]
    },
    {
      "parameters": {
        "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction addError(list, code, field, message) {\n  list.push({ code, field, message });\n}\n\nfunction extractProviderError(raw) {\n  if (!raw || typeof raw !== 'object') return null;\n  return raw.error || raw.message || raw.description || raw.reason || null;\n}\n\nfunction renderProviderError(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') return value;\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return String(value);\n  }\n}\n\nfunction parseInstallSources(raw) {\n  const map = {};\n  if (!raw || !Array.isArray(raw.data)) return map;\n  raw.data.forEach((row) => {\n    const source = row?.dimensions?.[0]?.name || 'Unknown';\n    const metric = row?.metrics?.[0] || 0;\n    const installs = Array.isArray(metric)\n      ? metric.reduce((sum, value) => sum + (Number(value) || 0), 0)\n      : Number(metric) || 0;\n    map[source] = (map[source] || 0) + Math.round(installs);\n  });\n  return map;\n}\n\nfunction getInstallTotal(raw) {\n  if (raw?.totals?.[0] != null) return Math.round(Number(raw.totals[0]) || 0);\n  return Object.values(parseInstallSources(raw)).reduce((sum, value) => sum + value, 0);\n}\n\nfunction metricAt(raw, index) {\n  if (!raw) return 0;\n  if (Array.isArray(raw.totals) && raw.totals[index] != null) return Number(raw.totals[index]) || 0;\n  if (Array.isArray(raw.data) && raw.data[0] && Array.isArray(raw.data[0].metrics)) {\n    return Number(raw.data[0].metrics[index]) || 0;\n  }\n  return 0;\n}\n\nconst cfgWrap = readNode('Resolve Source Config');\nconst formatWrap = readNode('Format App Events');\nconst geoWrap = readNode('Fetch AppMetrica Geo');\nconst inst1Wrap = readNode('Fetch AppMetrica Inst1');\nconst inst2Wrap = readNode('Fetch AppMetrica Inst2');\nconst financeSummaryWrap = readNode('Fetch AppMetrica Finance Summary');\nconst financeChannelsWrap = readNode('Fetch AppMetrica Finance Channels');\nconst financeByTimeWrap = readNode('Fetch AppMetrica Finance By Time');\n\nconst cfg = cfgWrap.value || {};\nconst requested = !!cfg.request_appmetrica;\nconst warnings = [];\nconst errors = [];\n\nif (!cfgWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'resolve_source_config', 'Resolve Source Config result is required');\n}\n\nif (requested) {\n  if (!formatWrap.exists) addError(errors, 'missing_upstream_result', 'format_app_events', 'Format App Events did not run');\n  if (!geoWrap.exists) addError(errors, 'missing_upstream_result', 'fetch_app_geo', 'Fetch AppMetrica Geo did not run');\n  if (!inst1Wrap.exists) addError(errors, 'missing_upstream_result', 'fetch_app_inst1', 'Fetch AppMetrica Inst1 did not run');\n  if (String(cfg.app_ids || '').includes(',') && !inst2Wrap.exists) {\n    addError(errors, 'missing_upstream_result', 'fetch_app_inst2', 'Fetch AppMetrica Inst2 did not run');\n  }\n  if (!financeSummaryWrap.exists) addError(errors, 'missing_upstream_result', 'fetch_finance_summary', 'Fetch AppMetrica Finance Summary did not run');\n  if (!financeChannelsWrap.exists) addError(errors, 'missing_upstream_result', 'fetch_finance_channels', 'Fetch AppMetrica Finance Channels did not run');\n  if (!financeByTimeWrap.exists) addError(errors, 'missing_upstream_result', 'fetch_finance_by_time', 'Fetch AppMetrica Finance By Time did not run');\n}\n\nconst formatted = formatWrap.value || {};\nconst geoRaw = geoWrap.value || {};\nconst inst1 = inst1Wrap.value || {};\nconst inst2 = inst2Wrap.value || {};\nconst financeSummaryRaw = financeSummaryWrap.value || {};\nconst financeChannelsRaw = financeChannelsWrap.value || {};\nconst financeByTimeRaw = financeByTimeWrap.value || {};\n\nconst formattedError = extractProviderError(formatted) || formatted.upstream_error || null;\nconst geoError = extractProviderError(geoRaw);\nconst inst1Error = extractProviderError(inst1);\nconst inst2Error = extractProviderError(inst2);\nconst financeSummaryError = extractProviderError(financeSummaryRaw);\nconst financeChannelsError = extractProviderError(financeChannelsRaw);\nconst financeByTimeError = extractProviderError(financeByTimeRaw);\n\nif (requested && formattedError) addError(errors, 'events_fetch_failed', 'appmetrica.events', renderProviderError(formattedError));\nif (requested && geoError) addError(errors, 'geo_fetch_failed', 'appmetrica.geo', renderProviderError(geoError));\nif (requested && inst1Error) addError(errors, 'inst1_fetch_failed', 'appmetrica.installs', renderProviderError(inst1Error));\nif (requested && String(cfg.app_ids || '').includes(',') && inst2Error) {\n  addError(errors, 'inst2_fetch_failed', 'appmetrica.installs_legacy', renderProviderError(inst2Error));\n}\nif (requested && financeSummaryError) addError(errors, 'finance_summary_failed', 'finance.summary', renderProviderError(financeSummaryError));\nif (requested && financeChannelsError) addError(errors, 'finance_channels_failed', 'finance.channels', renderProviderError(financeChannelsError));\nif (requested && financeByTimeError) addError(errors, 'finance_by_time_failed', 'finance.series', renderProviderError(financeByTimeError));\n\nconst events = Array.isArray(formatted.events) ? formatted.events : [];\nconst find = (name) => events.find((item) => item.event_name === name) || { unique_devices: 0, total_events: 0 };\n\nconst geo = Array.isArray(geoRaw.data)\n  ? geoRaw.data\n      .map((row) => ({\n        city: row?.dimensions?.[0]?.name || '',\n        drivers: Math.round(Number(row?.metrics?.[0]) || 0),\n      }))\n      .filter((row) => row.city && row.city !== 'Unknown')\n  : [];\n\nconst mergedSources = { ...parseInstallSources(inst1) };\nlet installsTotal = getInstallTotal(inst1);\n\nif (String(cfg.app_ids || '').includes(',')) {\n  const secondMap = parseInstallSources(inst2);\n  Object.entries(secondMap).forEach(([key, value]) => {\n    mergedSources[key] = (mergedSources[key] || 0) + value;\n  });\n  installsTotal += getInstallTotal(inst2);\n}\n\nconst sources = Object.entries(mergedSources)\n  .map(([name, installs]) => ({ name, installs }))\n  .sort((a, b) => b.installs - a.installs)\n  .slice(0, 8);\n\nconst financeUsers = metricAt(financeSummaryRaw, 0);\nconst financeTaps = metricAt(financeSummaryRaw, 1);\nconst financeChannels = Array.isArray(financeChannelsRaw.data)\n  ? financeChannelsRaw.data.map((row) => ({\n      name: row?.dimensions?.[0]?.name || 'Неизвестная точка входа',\n      unique_devices: Number(row?.metrics?.[0]) || 0,\n      total_events: Number(row?.metrics?.[1]) || 0,\n    }))\n  : [];\n\nconst financeByName = Object.fromEntries(financeChannels.map((row) => [row.name, row]));\nconst cardRow = financeByName['Нажал оплатить в карточке'] || { name: 'Нажал оплатить в карточке', unique_devices: 0, total_events: 0 };\nconst profileRow = financeByName['Нажал оплатить в профиле'] || { name: 'Нажал оплатить в профиле', unique_devices: 0, total_events: 0 };\n\nlet financeSeries = [];\nif (Array.isArray(financeByTimeRaw.time_intervals) && Array.isArray(financeByTimeRaw.data?.[0]?.metrics?.[0])) {\n  const labels = financeByTimeRaw.time_intervals.map((interval) =>\n    Array.isArray(interval) ? String(interval[0] || '') : String(interval || ''),\n  );\n  const values = financeByTimeRaw.data[0].metrics[0] || [];\n  financeSeries = labels.map((label, index) => ({\n    date: label,\n    label: label ? label.slice(5) : '—',\n    total_events: Number(values[index]) || 0,\n  }));\n}\n\nconst activeUsers = events.length ? Math.max(...events.map((item) => Number(item.unique_devices) || 0), 0) : 0;\nconst registrations = Number(find('Зарегистрировался').unique_devices) || 0;\nconst tapsPerUser = financeUsers ? financeTaps / financeUsers : 0;\nconst cardSharePercent = financeTaps ? (cardRow.total_events / financeTaps) * 100 : 0;\nconst profileSharePercent = financeTaps ? (profileRow.total_events / financeTaps) * 100 : 0;\nconst fromRegistrationPercent = registrations ? (financeUsers / registrations) * 100 : 0;\nconst fromActivePercent = activeUsers ? (financeUsers / activeUsers) * 100 : 0;\n\nif (requested && !events.length) warnings.push('no_appmetrica_events');\nif (requested && !sources.length) warnings.push('no_appmetrica_install_sources');\nif (requested && !geo.length) warnings.push('no_appmetrica_geo');\nif (requested && financeTaps === 0) warnings.push('no_finance_events');\nif (requested && financeTaps > 0 && financeUsers > 0 && tapsPerUser >= 3) warnings.push('finance_repeat_clicks_high');\nif (requested && cardRow.total_events > 0 && financeTaps > 0 && cardSharePercent >= 75) warnings.push('finance_card_dominates');\nif (requested && profileRow.total_events > 0 && financeTaps > 0 && profileSharePercent >= 75) warnings.push('finance_profile_dominates');\n\nreturn [\n  {\n    json: {\n      source: 'appmetrica',\n      requested,\n      ok: requested ? errors.length === 0 : true,\n      partial_failure: errors.length > 0,\n      warnings,\n      errors,\n      data: {\n        appmetrica: {\n          events,\n          geo,\n          sources,\n          installs_total: installsTotal,\n        },\n        finance: {\n          source: 'appmetrica',\n          summary: {\n            payment_interest_users: Math.round(financeUsers),\n            payment_taps_total: Math.round(financeTaps),\n            taps_per_user: Number(tapsPerUser.toFixed(2)),\n            from_registration_percent: Number(fromRegistrationPercent.toFixed(1)),\n            from_active_percent: Number(fromActivePercent.toFixed(1)),\n            card_share_percent: Number(cardSharePercent.toFixed(1)),\n            profile_share_percent: Number(profileSharePercent.toFixed(1)),\n          },\n          channels: financeChannels.map((row) => ({\n            name: row.name,\n            unique_devices: Math.round(row.unique_devices),\n            total_events: Math.round(row.total_events),\n          })),\n          series: financeSeries.map((row) => ({\n            date: row.date,\n            label: row.label,\n            total_events: Math.round(row.total_events),\n          })),\n          warnings: warnings.filter((item) => item.startsWith('finance_') || item === 'no_finance_events'),\n        },\n      },\n    },\n  },\n];"
      },
      "id": "c44a8f73-6b7d-4d11-b8bf-0dd2ab1c1111",
      "name": "Finalize AppMetrica Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction addError(list, code, field, message) {\n  list.push({ code, field, message });\n}\n\nfunction extractProviderError(raw) {\n  if (!raw || typeof raw !== 'object') return null;\n  return raw.error || raw.message || raw.description || raw.reason || null;\n}\n\nfunction renderProviderError(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') return value;\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return String(value);\n  }\n}\n\nfunction metricAt(raw, index) {\n  if (!raw) return 0;\n  if (Array.isArray(raw.totals) && raw.totals[index] != null) return Number(raw.totals[index]) || 0;\n  if (Array.isArray(raw.data) && raw.data[0] && Array.isArray(raw.data[0].metrics)) return Number(raw.data[0].metrics[index]) || 0;\n  return 0;\n}\n\nfunction rowsToNamedMetrics(raw) {\n  return Array.isArray(raw?.data)\n    ? raw.data.map((row) => ({\n        name: row?.dimensions?.[0]?.name || row?.dimensions?.[0]?.id || 'Unknown',\n        visits: Number(row?.metrics?.[0]) || 0,\n        users: Number(row?.metrics?.[1]) || 0,\n        bounce_rate: Number(row?.metrics?.[2]) || 0,\n      }))\n    : [];\n}\n\nconst cfgWrap = readNode('Resolve Source Config');\nconst summaryWrap = readNode('Fetch Metrika Summary');\nconst seriesWrap = readNode('Fetch Metrika By Time');\nconst sourcesWrap = readNode('Fetch Metrika Sources');\nconst botWrap = readNode('Fetch Metrika Bot Traffic');\n\nconst cfg = cfgWrap.value || {};\nconst requested = !!cfg.request_metrika;\nconst warnings = [];\nconst errors = [];\n\nif (!cfgWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'resolve_source_config', 'Resolve Source Config result is required');\n}\n\nif (requested) {\n  if (!summaryWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.summary', 'Fetch Metrika Summary did not run');\n  if (!seriesWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.series', 'Fetch Metrika By Time did not run');\n  if (!sourcesWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.sources', 'Fetch Metrika Sources did not run');\n  if (!botWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.bot', 'Fetch Metrika Bot Traffic did not run');\n}\n\nconst summaryRaw = summaryWrap.value || {};\nconst seriesRaw = seriesWrap.value || {};\nconst sourcesRaw = sourcesWrap.value || {};\nconst botRaw = botWrap.value || {};\n\nif (requested && extractProviderError(summaryRaw)) addError(errors, 'metrika_summary_failed', 'metrika.summary', renderProviderError(extractProviderError(summaryRaw)));\nif (requested && extractProviderError(seriesRaw)) addError(errors, 'metrika_series_failed', 'metrika.series', renderProviderError(extractProviderError(seriesRaw)));\nif (requested && extractProviderError(sourcesRaw)) addError(errors, 'metrika_sources_failed', 'metrika.sources', renderProviderError(extractProviderError(sourcesRaw)));\nif (requested && extractProviderError(botRaw)) addError(errors, 'metrika_bot_failed', 'metrika.bot', renderProviderError(extractProviderError(botRaw)));\n\nconst sessions = metricAt(summaryRaw, 0);\nconst users = metricAt(summaryRaw, 1);\nconst bounceRate = metricAt(summaryRaw, 2);\nconst avgVisitSeconds = metricAt(summaryRaw, 3);\n\nconst botPages = Array.isArray(botRaw.data)\n  ? botRaw.data.map((row) => ({\n      name: row?.dimensions?.[0]?.name || 'Unknown page',\n      visits: Number(row?.metrics?.[0]) || 0,\n      users: Number(row?.metrics?.[1]) || 0,\n    }))\n  : [];\nconst botSessions = botPages.reduce((sum, row) => sum + row.visits, 0);\n\nlet series = [];\nif (Array.isArray(seriesRaw.time_intervals) && Array.isArray(seriesRaw.data?.[0]?.metrics?.[0])) {\n  const labels = seriesRaw.time_intervals.map((interval) => Array.isArray(interval) ? String(interval[0] || '') : String(interval || ''));\n  const visitsSeries = seriesRaw.data[0].metrics[0] || [];\n  const usersSeries = seriesRaw.data[0].metrics[1] || [];\n  series = labels.map((label, index) => ({\n    date: label,\n    label: label ? label.slice(5) : '-',\n    visits: Number(visitsSeries[index]) || 0,\n    users: Number(usersSeries[index]) || 0,\n  }));\n}\n\nconst sources = rowsToNamedMetrics(sourcesRaw)\n  .sort((a, b) => b.visits - a.visits)\n  .slice(0, 8)\n  .map(({ name, visits, users }) => ({ name, visits, users }));\n\nif (requested && !sessions) warnings.push('no_metrika_sessions');\nif (requested && bounceRate >= 65) warnings.push('high_bounce_rate');\nif (requested && sessions > 0 && (botSessions / sessions) >= 0.2) warnings.push('high_bot_entry_share');\n\nconst hasData = requested && (\n  sessions > 0 ||\n  sources.length > 0 ||\n  botPages.length > 0 ||\n  series.length > 0\n);\n\nconst errorCode = errors[0]?.code || null;\nconst errorMessage = errors.length ? errors.map((item) => item.message).join('; ') : null;\n\nreturn [{\n  json: {\n    source: 'metrika',\n    requested,\n    ok: requested ? errors.length === 0 : false,\n    errors,\n    warnings,\n    data: requested ? {\n      summary: {\n        sessions,\n        users,\n        bounce_rate: bounceRate,\n        avg_session_min: avgVisitSeconds / 60,\n        bot_sessions: botSessions,\n        bot_activation_percent: sessions > 0 ? (botSessions / sessions) * 100 : 0,\n      },\n      series,\n      sources,\n      bot_pages: botPages.slice(0, 8),\n    } : null,\n    meta: {\n      has_data: hasData,\n    },\n    error_code: errorCode,\n    error_message: errorMessage,\n  }\n}];"
      },
      "id": "d81c8450-4b4e-4aa8-b81b-f6c8209f1111",
      "name": "Finalize Metrika Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction addError(list, code, field, message) {\n  list.push({ code, field, message });\n}\n\nfunction extractProviderError(raw) {\n  if (!raw || typeof raw !== 'object') return null;\n  return raw.error || raw.message || raw.description || raw.reason || null;\n}\n\nfunction renderProviderError(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') return value;\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return String(value);\n  }\n}\n\nfunction extractText(raw) {\n  if (typeof raw === 'string') return raw;\n  if (typeof raw?.body === 'string') return raw.body;\n  if (typeof raw?.data === 'string') return raw.data;\n  if (typeof raw?.responseBody === 'string') return raw.responseBody;\n  return '';\n}\n\nfunction parseTsv(text) {\n  const lines = String(text || '').split(/\\r?\\n/).map((line) => line.trim()).filter(Boolean);\n  if (!lines.length) return [];\n  const headerIndex = lines.findIndex((line) => line.includes('\\t') && /Date|Impressions|Clicks/.test(line));\n  if (headerIndex === -1 || headerIndex === lines.length - 1) return [];\n  const headers = lines[headerIndex].split('\\t');\n  return lines.slice(headerIndex + 1).map((line) => {\n    const values = line.split('\\t');\n    const row = {};\n    headers.forEach((header, index) => {\n      row[header] = values[index];\n    });\n    return row;\n  });\n}\n\nconst cfgWrap = readNode('Resolve Source Config');\nconst rawWrap = readNode('Fetch Direct Report');\nconst cfg = cfgWrap.value || {};\nconst requested = !!cfg.request_direct;\nconst warnings = [];\nconst errors = [];\n\nif (!cfgWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'resolve_source_config', 'Resolve Source Config result is required');\n}\n\nif (requested && !rawWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'direct.report', 'Fetch Direct Report did not run');\n}\n\nconst raw = rawWrap.value || {};\nconst rawError = extractProviderError(raw);\nif (requested && rawError) {\n  addError(errors, 'direct_fetch_failed', 'direct.report', renderProviderError(rawError));\n}\n\nconst directRows = parseTsv(extractText(raw)).map((row) => {\n  const spend = Number(row.Cost || row.CostCur || row.CostWithVAT || 0) || 0;\n  const impressions = Number(row.Impressions || 0) || 0;\n  const clicks = Number(row.Clicks || 0) || 0;\n  const ctr = Number(row.Ctr || 0) || 0;\n  const avgCpc = Number(row.AvgCpc || row.AvgClickPrice || 0) || 0;\n  const conversions = Number(row.Conversions || row.GoalReaches || 0) || 0;\n  const cpa = conversions > 0 ? spend / conversions : 0;\n  return {\n    date: row.Date || '',\n    spend,\n    impressions,\n    clicks,\n    ctr,\n    avg_cpc: avgCpc,\n    conversions,\n    cpa,\n  };\n});\n\nif (requested && !directRows.length && !errors.length) {\n  warnings.push('direct_report_empty');\n  addError(errors, 'direct_parse_failed', 'direct.report', 'Direct report did not contain tabular rows');\n}\n\nconst summary = directRows.reduce((acc, row) => {\n  acc.spend += row.spend;\n  acc.impressions += row.impressions;\n  acc.clicks += row.clicks;\n  acc.conversions += row.conversions;\n  return acc;\n}, { spend: 0, impressions: 0, clicks: 0, conversions: 0 });\nsummary.ctr = summary.impressions > 0 ? (summary.clicks / summary.impressions) * 100 : 0;\nsummary.avg_cpc = summary.clicks > 0 ? summary.spend / summary.clicks : 0;\nsummary.cr = summary.clicks > 0 ? (summary.conversions / summary.clicks) * 100 : 0;\nsummary.cpa = summary.conversions > 0 ? summary.spend / summary.conversions : 0;\n\nif (requested && summary.ctr > 0 && summary.ctr < 1) warnings.push('low_direct_ctr');\nif (requested && summary.conversions === 0) warnings.push('no_direct_conversions');\n\nconst hasData = requested && directRows.length > 0;\nconst errorCode = errors[0]?.code || null;\nconst errorMessage = errors.length ? errors.map((item) => item.message).join('; ') : null;\n\nreturn [{\n  json: {\n    source: 'direct',\n    requested,\n    ok: requested ? errors.length === 0 : false,\n    errors,\n    warnings,\n    data: requested ? {\n      summary,\n      daily: directRows,\n    } : null,\n    meta: {\n      has_data: hasData,\n    },\n    error_code: errorCode,\n    error_message: errorMessage,\n  }\n}];"
      },
      "id": "e2504cc2-9c9b-4a80-9d18-93f6fd1a1111",
      "name": "Finalize Direct Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst payload = input.raw_payload || {};\nconst errors = [];\nconst warnings = [];\n\nconst allowedPeriods = new Set(['today', 'yesterday', 'last_7_days', 'last_30_days', 'this_month', 'custom']);\nconst allowedSources = new Set(['appmetrica', 'metrika', 'direct', 'all']);\nconst isoDate = /^\\d{4}-\\d{2}-\\d{2}$/;\n\nfunction pushError(code, field, message) {\n  errors.push({ code, field, message });\n}\n\nconst source = input.raw_source || 'all';\nconst periodLabel = input.period_label || (input.request_source === 'explicit' ? 'custom' : null);\n\nif (payload.source != null && payload.source !== '' && !allowedSources.has(source)) {\n  pushError('invalid_source', 'source', 'source must be one of appmetrica, metrika, direct, all');\n}\n\nif (payload.period_label != null && payload.period_label !== '' && !allowedPeriods.has(String(payload.period_label).trim())) {\n  pushError('invalid_period_label', 'period_label', 'period_label must be one of today, yesterday, last_7_days, last_30_days, this_month, custom');\n}\n\nif ((payload.date_from && !payload.date_to) || (!payload.date_from && payload.date_to)) {\n  pushError('incomplete_date_range', 'date_range', 'date_from and date_to must be provided together');\n}\n\nif (input.date_from && !isoDate.test(input.date_from)) {\n  pushError('invalid_date_from', 'date_from', 'date_from must use YYYY-MM-DD');\n}\n\nif (input.date_to && !isoDate.test(input.date_to)) {\n  pushError('invalid_date_to', 'date_to', 'date_to must use YYYY-MM-DD');\n}\n\nif (!input.date_from || !input.date_to) {\n  pushError('missing_date_range', 'date_range', 'date range could not be resolved from the request');\n}\n\nif (input.date_from && input.date_to && input.date_from > input.date_to) {\n  pushError('invalid_date_range', 'date_range', 'date_from must be less than or equal to date_to');\n}\n\nconst requestedSources = source === 'all' ? ['appmetrica', 'metrika', 'direct'] : [source];\n\nreturn [{\n  json: {\n    route: 'dashboard',\n    valid: errors.length === 0,\n    errors,\n    warnings,\n    normalized_request: {\n      ...input,\n      source,\n      requested_sources: requestedSources,\n      period_label: periodLabel || 'custom',\n    },\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20001",
      "name": "Validate Request Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20002-condition",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20002",
      "name": "Dashboard Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst normalized = input.normalized_request || {};\nconst requested = Array.isArray(normalized.requested_sources) ? normalized.requested_sources : [];\n\nconst sourceStatus = {\n  appmetrica: {\n    requested: requested.includes('appmetrica'),\n    ok: false,\n    error_code: null,\n    error_message: null,\n    warnings: [],\n    has_data: false,\n  },\n  metrika: {\n    requested: requested.includes('metrika'),\n    ok: false,\n    error_code: null,\n    error_message: null,\n    warnings: [],\n    has_data: false,\n  },\n  direct: {\n    requested: requested.includes('direct'),\n    ok: false,\n    error_code: null,\n    error_message: null,\n    warnings: [],\n    has_data: false,\n  },\n};\n\nreturn [{\n  json: {\n    success: false,\n    partial_failure: false,\n    errors: Array.isArray(input.errors) ? input.errors : [],\n    warnings: Array.isArray(input.warnings) ? input.warnings : [],\n    period: {\n      date_from: normalized.date_from || null,\n      date_to: normalized.date_to || null,\n      period_label: normalized.period_label || null,\n    },\n    data: {\n      appmetrica: null,\n      metrika: null,\n      direct: null,\n    },\n    source_status: sourceStatus,\n    generated_at: new Date().toISOString(),\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20003",
      "name": "Build Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20004-condition",
              "leftValue": "={{ $json.request_appmetrica }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20004",
      "name": "Should Fetch AppMetrica?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20005-condition",
              "leftValue": "={{ $('Resolve Source Config').first().json.request_metrika }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20005",
      "name": "Should Fetch Metrika?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -432,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20006-condition",
              "leftValue": "={{ $('Resolve Source Config').first().json.request_direct }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20006",
      "name": "Should Fetch Direct?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction fallbackSourceResult(source, requested) {\n  const errors = requested ? [{\n    code: 'missing_finalize_result',\n    field: source,\n    message: 'Finalize result for ' + source + ' is missing',\n  }] : [];\n\n  return {\n    source,\n    requested,\n    ok: false,\n    errors,\n    warnings: [],\n    data: null,\n    meta: {\n      has_data: false,\n    },\n    error_code: errors[0]?.code || null,\n    error_message: errors[0]?.message || null,\n  };\n}\n\nconst cfg = $('Resolve Source Config').first().json || {};\nconst requestedSources = Array.isArray(cfg.requested_sources) ? cfg.requested_sources : ['appmetrica', 'metrika', 'direct'];\n\nconst mapping = [\n  { source: 'appmetrica', node: 'Finalize AppMetrica Result' },\n  { source: 'metrika', node: 'Finalize Metrika Result' },\n  { source: 'direct', node: 'Finalize Direct Result' },\n];\n\nconst sources = mapping.map(({ source, node }) => {\n  const wrap = readNode(node);\n  if (wrap.exists) {\n    return wrap.value || fallbackSourceResult(source, requestedSources.includes(source));\n  }\n  return fallbackSourceResult(source, requestedSources.includes(source));\n});\n\nreturn [{\n  json: {\n    requested_sources: requestedSources,\n    sources,\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20007",
      "name": "Collect Source Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = ($json && $json.body) ? $json.body : ($json || {});\n\nfunction formatRuDate(iso) {\n  if (!iso || typeof iso !== 'string') return '';\n  const parts = iso.split('-');\n  if (parts.length !== 3) return iso;\n  const date = new Date(Date.UTC(Number(parts[0]), Number(parts[1]) - 1, Number(parts[2])));\n  const months = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'];\n  return String(date.getUTCDate()) + ' ' + months[date.getUTCMonth()];\n}\n\nconst dateFrom = typeof body.date_from === 'string' ? body.date_from.trim() : '';\nconst dateTo = typeof body.date_to === 'string' ? body.date_to.trim() : '';\nconst periodName = (dateFrom && dateTo)\n  ? (dateFrom === dateTo ? formatRuDate(dateFrom) : formatRuDate(dateFrom) + ' - ' + formatRuDate(dateTo))\n  : 'выбранный период';\n\nreturn [{\n  json: {\n    route: 'analytics',\n    raw_payload: body,\n    tab: typeof body.tab === 'string' ? body.tab.trim() : '',\n    date_from: dateFrom || null,\n    date_to: dateTo || null,\n    data: body.data ?? null,\n    period_name: periodName,\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20008",
      "name": "Normalize Analytics Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1792,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst errors = [];\nconst warnings = [];\nconst allowedTabs = new Set(['appmetrica', 'metrika', 'direct', 'finance']);\nconst isoDate = /^\\d{4}-\\d{2}-\\d{2}$/;\n\nfunction pushError(code, field, message) {\n  errors.push({ code, field, message });\n}\n\nif (!input.tab) {\n  pushError('missing_tab', 'tab', 'tab is required');\n} else if (!allowedTabs.has(input.tab)) {\n  pushError('invalid_tab', 'tab', 'tab must be one of appmetrica, metrika, direct, finance');\n}\n\nif ((input.date_from && !input.date_to) || (!input.date_from && input.date_to)) {\n  pushError('incomplete_date_range', 'date_range', 'date_from and date_to must be provided together');\n}\n\nif (input.date_from && !isoDate.test(input.date_from)) {\n  pushError('invalid_date_from', 'date_from', 'date_from must use YYYY-MM-DD');\n}\n\nif (input.date_to && !isoDate.test(input.date_to)) {\n  pushError('invalid_date_to', 'date_to', 'date_to must use YYYY-MM-DD');\n}\n\nif (input.date_from && input.date_to && input.date_from > input.date_to) {\n  pushError('invalid_date_range', 'date_range', 'date_from must be less than or equal to date_to');\n}\n\nif (input.data == null) {\n  pushError('missing_data', 'data', 'data payload is required');\n}\n\nreturn [{\n  json: {\n    route: 'analytics',\n    valid: errors.length === 0,\n    errors,\n    warnings,\n    normalized_request: input,\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20009",
      "name": "Validate Analytics Request Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20010-condition",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20010",
      "name": "Analytics Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst normalized = input.normalized_request || {};\n\nreturn [{\n  json: {\n    success: false,\n    partial_failure: false,\n    errors: Array.isArray(input.errors) ? input.errors : [],\n    warnings: Array.isArray(input.warnings) ? input.warnings : [],\n    tab: normalized.tab || null,\n    period_name: normalized.period_name || '',\n    analysis: null,\n    analysis_text: null,\n    model: 'claude-sonnet-4-5-20250929',\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20011",
      "name": "Build Analytics Validation Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Validate Analytics Request Contract').first().json || {};\nconst request = input.normalized_request || {};\nconst tab = request.tab;\nconst payload = request.data;\nconst periodName = request.period_name || 'выбранный период';\n\nfunction round(value, digits = 1) {\n  const n = Number(value) || 0;\n  const factor = Math.pow(10, digits);\n  return Math.round(n * factor) / factor;\n}\n\nfunction metricLine(label, value) {\n  return '- ' + label + ': ' + value;\n}\n\nfunction normalizeTrafficSource(name) {\n  const map = {\n    'ad traffic': 'Рекламный трафик',\n    'search engine traffic': 'Поисковый трафик',\n    'social network traffic': 'Социальные сети',\n    'messenger traffic': 'Мессенджеры',\n    'direct traffic': 'Прямые заходы',\n    'referrals': 'Переходы по ссылкам',\n    'internal transitions': 'Внутренние переходы',\n    'email': 'Почтовые рассылки',\n    'saved pages': 'Сохраненные страницы',\n    'undefined': 'Неизвестный источник',\n  };\n  const key = String(name || '').trim().toLowerCase();\n  return map[key] || String(name || 'Неизвестный источник');\n}\n\nfunction normalizeBotPage(name) {\n  const value = String(name || '').trim();\n  if (!value) return 'Неизвестная страница';\n  return value.replace(/^https?:\\/\\//i, '').replace(/\\/$/, '');\n}\n\nfunction rules(roleTitle, focus, extraRules) {\n  return [\n    'Ты ' + roleTitle + '.',\n    'Сделай краткий, деловой и точный вывод только по входным данным.',\n    'Не придумывай факты, причины или сегменты, которых нет во входных данных.',\n    'Верни только JSON без markdown, без пояснений и без обрамляющего текста.',\n    'Строгая JSON-схема ответа:',\n    '{',\n    '  \"title\": \"string\",',\n    '  \"verdict\": \"string\",',\n    '  \"good\": [\"string\", \"string\"],',\n    '  \"bad\": [\"string\", \"string\"],',\n    '  \"next_steps\": [\"string\", \"string\", \"string\"],',\n    '  \"confidence\": \"high|medium|low\"',\n    '}',\n    'Поле good должно содержать ровно 2 пункта.',\n    'Поле bad должно содержать 2 или 3 пункта.',\n    'Поле next_steps должно содержать ровно 3 пункта.',\n    'Все поля обязательны.',\n    'Фокус анализа: ' + focus + '.',\n    extraRules,\n  ].join('\\n');\n}\n\nfunction buildAppPrompt(data) {\n  const events = Array.isArray(data?.events) ? data.events : [];\n  const sources = Array.isArray(data?.sources) ? data.sources.slice(0, 8) : [];\n  const geo = Array.isArray(data?.geo) ? data.geo.slice(0, 6) : [];\n  const find = (name) => events.find((item) => item.event_name === name) || { unique_devices: 0, total_events: 0 };\n  const active = events.length ? Math.max(...events.map((item) => Number(item.unique_devices) || 0), 0) : 0;\n  const registrations = Number(find('Зарегистрировался').unique_devices) || 0;\n  const openFilter = Number(find('Открыл фильтр').unique_devices) || 0;\n  const openOrder = Number(find('Открыл заявку').unique_devices) || 0;\n  const phoneTap = Number(find('Нажал на телефон в заявке').unique_devices) || 0;\n  const phoneConversion = openOrder > 0 ? round((phoneTap / openOrder) * 100, 1) : 0;\n  const regFromActive = active > 0 ? round((registrations / active) * 100, 1) : 0;\n\n  return [\n    rules(\n      'senior product marketing analyst мобильного продукта ГРУЗАП',\n      'активация, продуктовая воронка, качество установок и переход к контакту',\n      'Если вывод неочевиден, формулируй аккуратно и не усиливай уверенность.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Активные водители', active),\n    metricLine('Регистрации', registrations),\n    metricLine('Конверсия активный водитель -> регистрация', regFromActive + '%'),\n    metricLine('Открыл фильтр', openFilter),\n    metricLine('Открыл заявку', openOrder),\n    metricLine('Нажал на телефон', phoneTap),\n    metricLine('Конверсия просмотр заявки -> звонок', phoneConversion + '%'),\n    'Топ событий:',\n    events.slice(0, 10).map((item) => '- ' + item.event_name + ': ' + (item.unique_devices || 0) + ' уник., ' + (item.total_events || 0) + ' событий').join('\\n') || '- Нет событий',\n    'Источники установок:',\n    sources.map((item) => '- ' + item.name + ': ' + (item.installs || 0) + ' установок').join('\\n') || '- Нет данных по источникам',\n    'География:',\n    geo.map((item) => '- ' + item.city + ': ' + (item.drivers || 0) + ' активных водителей').join('\\n') || '- Нет географии',\n  ].join('\\n');\n}\n\nfunction buildMetrikaPrompt(data) {\n  const summary = data?.summary || {};\n  const sources = Array.isArray(data?.sources) ? data.sources.slice(0, 8) : [];\n  const botPages = Array.isArray(data?.bot_pages) ? data.bot_pages.slice(0, 8) : [];\n  const series = Array.isArray(data?.series) ? data.series.slice(0, 10) : [];\n  const totalVisits = sources.reduce((sum, item) => sum + (Number(item.visits) || 0), 0);\n\n  return [\n    rules(\n      'senior growth marketing analyst и CRO-аналитик сайта ГРУЗАП',\n      'качество трафика, вовлечение, польза каналов и переходы в Telegram',\n      'Учитывай и сильные стороны, и ограничения посадки.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Сессии', summary.sessions || 0),\n    metricLine('Пользователи', summary.users || 0),\n    metricLine('Показатель отказов', round(summary.bounce_rate || 0, 2) + '%'),\n    metricLine('Средняя сессия', round(summary.avg_session_min || 0, 2) + ' мин'),\n    metricLine('Telegram/startURL сессии', summary.bot_sessions || 0),\n    metricLine('Доля Telegram/startURL', round(summary.bot_activation_percent || 0, 2) + '%'),\n    'Источники трафика:',\n    sources.map((item) => {\n      const share = totalVisits > 0 ? round((Number(item.visits || 0) / totalVisits) * 100, 1) : 0;\n      return '- ' + normalizeTrafficSource(item.name) + ': ' + (item.visits || 0) + ' визитов, доля ' + share + '%';\n    }).join('\\n') || '- Нет данных по источникам',\n    'Переходы в Telegram:',\n    botPages.map((item) => '- ' + normalizeBotPage(item.name) + ': ' + (item.visits || 0) + ' визитов').join('\\n') || '- Нет переходов в Telegram',\n    'Динамика по дням:',\n    series.map((item) => '- ' + (item.date || item.label || '') + ': ' + (item.visits || 0) + ' сессий, ' + (item.users || 0) + ' пользователей').join('\\n') || '- Нет дневного ряда',\n  ].join('\\n');\n}\n\nfunction buildDirectPrompt(data) {\n  const summary = data?.summary || {};\n  const daily = Array.isArray(data?.daily) ? data.daily.slice(0, 10) : [];\n\n  return [\n    rules(\n      'senior performance marketing lead и сильный директолог ГРУЗАП',\n      'эффективность платного трафика, качество клика, конверсии и CPA',\n      'Если цифры неоднозначны, не делай категоричных выводов.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Расход', round(summary.spend || 0, 2)),\n    metricLine('Показы', summary.impressions || 0),\n    metricLine('Клики', summary.clicks || 0),\n    metricLine('CTR', round(summary.ctr || 0, 2) + '%'),\n    metricLine('Средний CPC', round(summary.avg_cpc || 0, 2)),\n    metricLine('Конверсии', round(summary.conversions || 0, 2)),\n    metricLine('CR', round(summary.cr || 0, 2) + '%'),\n    metricLine('CPA', round(summary.cpa || 0, 2)),\n    'Дневная динамика:',\n    daily.map((item) => '- ' + (item.date || '') + ': расход ' + round(item.spend || 0, 2) + ', клики ' + (item.clicks || 0) + ', CTR ' + round(item.ctr || 0, 2) + '%, конверсии ' + round(item.conversions || 0, 2) + ', CPA ' + round(item.cpa || 0, 2)).join('\\n') || '- Нет дневного ряда',\n  ].join('\\n');\n}\n\nfunction buildFinancePrompt(data) {\n  const summary = data?.summary || {};\n  const channels = Array.isArray(data?.channels) ? data.channels.slice(0, 8) : [];\n  const series = Array.isArray(data?.series) ? data.series.slice(0, 10) : [];\n\n  return [\n    rules(\n      'senior monetization analyst и product marketing lead мобильного продукта ГРУЗАП',\n      'силу платёжного намерения, точки входа в оплату, повторные клики и связь с общей продуктовой воронкой',\n      'Не путай платёжное намерение с фактической оплатой и не делай выводов о выручке без прямых данных.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Уникальные водители с интересом к оплате', summary.payment_interest_users || 0),\n    metricLine('Всего нажатий на оплату', summary.payment_taps_total || 0),\n    metricLine('Нажатий на одного заинтересованного', round(summary.taps_per_user || 0, 2)),\n    metricLine('Доля от регистраций', round(summary.from_registration_percent || 0, 2) + '%'),\n    metricLine('Доля от активных водителей', round(summary.from_active_percent || 0, 2) + '%'),\n    metricLine('Доля входов из карточки', round(summary.card_share_percent || 0, 2) + '%'),\n    metricLine('Доля входов из профиля', round(summary.profile_share_percent || 0, 2) + '%'),\n    'Точки входа в оплату:',\n    channels.map((item) => '- ' + (item.name || 'Точка входа') + ': ' + (item.unique_devices || 0) + ' уник., ' + (item.total_events || 0) + ' нажатий').join('\\n') || '- Нет финансовых событий',\n    'Дневная динамика:',\n    series.map((item) => '- ' + (item.date || item.label || '') + ': ' + (item.total_events || 0) + ' нажатий').join('\\n') || '- Нет дневного ряда',\n  ].join('\\n');\n}\n\nlet prompt = '';\nif (tab === 'metrika') prompt = buildMetrikaPrompt(payload);\nelse if (tab === 'direct') prompt = buildDirectPrompt(payload);\nelse if (tab === 'finance') prompt = buildFinancePrompt(payload);\nelse prompt = buildAppPrompt(payload);\n\nreturn [{\n  json: {\n    prompt,\n    tab,\n    period_name: periodName,\n  }\n}];"
      },
      "id": "755b01ae-0f5d-4e2f-b747-cba1e88af190",
      "name": "Prepare Analytics Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\n\nfunction extractText(value) {\n  if (typeof value === 'string') return value;\n  if (typeof value?.text === 'string') return value.text;\n  if (typeof value?.output === 'string') return value.output;\n  if (typeof value?.response === 'string') return value.response;\n  if (typeof value?.result === 'string') return value.result;\n  if (Array.isArray(value?.messages)) {\n    return value.messages\n      .map((item) => item?.text || item?.content || '')\n      .filter(Boolean)\n      .join('\\n');\n  }\n  return '';\n}\n\nfunction stripCodeFence(text) {\n  const value = String(text || '').trim();\n  if (value.startsWith('\\`\\`\\`')) {\n    return value.replace(/^\\`\\`\\`[a-zA-Z]*\\s*/, '').replace(/\\s*\\`\\`\\`$/, '').trim();\n  }\n  return value;\n}\n\nconst rawText = stripCodeFence(extractText(raw) || extractText(raw.json) || extractText(raw.data));\nlet parsed = null;\nlet parseError = null;\n\nif (rawText) {\n  try {\n    parsed = JSON.parse(rawText);\n  } catch (error) {\n    parseError = error.message;\n  }\n}\n\nreturn [{\n  json: {\n    raw_text: rawText,\n    parsed_json: parsed,\n    parse_error: parseError,\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20012",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Prepare Analytics Prompt').first().json || {};\nconst parsed = $input.first().json || {};\nconst errors = [];\nconst warnings = [];\nconst analysis = parsed.parsed_json;\n\nfunction pushError(code, field, message) {\n  errors.push({ code, field, message });\n}\n\nif (!analysis || typeof analysis !== 'object' || Array.isArray(analysis)) {\n  pushError('invalid_ai_response', 'analysis', parsed.parse_error || 'AI response is not a valid JSON object');\n}\n\nif (analysis && typeof analysis === 'object' && !Array.isArray(analysis)) {\n  if (typeof analysis.title !== 'string' || !analysis.title.trim()) {\n    pushError('invalid_ai_response', 'analysis.title', 'title must be a non-empty string');\n  }\n  if (typeof analysis.verdict !== 'string' || !analysis.verdict.trim()) {\n    pushError('invalid_ai_response', 'analysis.verdict', 'verdict must be a non-empty string');\n  }\n  if (!Array.isArray(analysis.good) || analysis.good.length !== 2 || analysis.good.some((item) => typeof item !== 'string' || !item.trim())) {\n    pushError('invalid_ai_response', 'analysis.good', 'good must contain exactly 2 non-empty strings');\n  }\n  if (!Array.isArray(analysis.bad) || analysis.bad.length < 2 || analysis.bad.length > 3 || analysis.bad.some((item) => typeof item !== 'string' || !item.trim())) {\n    pushError('invalid_ai_response', 'analysis.bad', 'bad must contain 2 or 3 non-empty strings');\n  }\n  if (!Array.isArray(analysis.next_steps) || analysis.next_steps.length !== 3 || analysis.next_steps.some((item) => typeof item !== 'string' || !item.trim())) {\n    pushError('invalid_ai_response', 'analysis.next_steps', 'next_steps must contain exactly 3 non-empty strings');\n  }\n  if (!['high', 'medium', 'low'].includes(analysis.confidence)) {\n    pushError('invalid_ai_response', 'analysis.confidence', 'confidence must be high, medium, or low');\n  }\n}\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    warnings,\n    analysis: errors.length === 0 ? analysis : null,\n    tab: prepared.tab || null,\n    period_name: prepared.period_name || '',\n    model: 'claude-sonnet-4-5-20250929',\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20013",
      "name": "Validate AI Response Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20014-condition",
              "leftValue": "={{ $json.valid }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20014",
      "name": "AI Response Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -96,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Validate AI Response Contract').first().json || {};\n\nreturn [{\n  json: {\n    success: false,\n    partial_failure: false,\n    errors: Array.isArray(input.errors) ? input.errors : [{\n      code: 'invalid_ai_response',\n      field: 'analysis',\n      message: 'AI response did not pass validation',\n    }],\n    warnings: Array.isArray(input.warnings) ? input.warnings : [],\n    tab: input.tab || null,\n    period_name: input.period_name || '',\n    analysis: null,\n    analysis_text: null,\n    model: input.model || 'claude-sonnet-4-5-20250929',\n  }\n}];"
      },
      "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20015",
      "name": "Build Invalid AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Validate AI Response Contract').first().json || {};\nconst analysis = input.analysis || null;\n\nfunction renderAnalysisText(value) {\n  if (!value) return null;\n  return [\n    value.title,\n    '',\n    'Вердикт: ' + value.verdict,\n    '',\n    'Что хорошо:',\n    ...value.good.map((item) => '- ' + item),\n    '',\n    'Что ухудшает результат:',\n    ...value.bad.map((item) => '- ' + item),\n    '',\n    'Что делать дальше:',\n    ...value.next_steps.map((item, index) => String(index + 1) + '. ' + item),\n    '',\n    'Уровень уверенности: ' + value.confidence,\n  ].join('\\n');\n}\n\nreturn [{\n  json: {\n    success: true,\n    partial_failure: false,\n    errors: [],\n    warnings: [],\n    tab: input.tab || null,\n    period_name: input.period_name || '',\n    analysis,\n    analysis_text: renderAnalysisText(analysis),\n    model: input.model || 'claude-sonnet-4-5-20250929',\n  }\n}];"
      },
      "id": "f0d2f7d2-2a70-4a5f-9e35-c2a21b31c111",
      "name": "Format Analytics Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        960
      ]
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
            },
            {
              "name": "metrics",
              "value": "ym:ce2:devicesWithEvent,ym:ce2:allEvents"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "filters",
              "value": "ym:ce2:eventLabel=='Нажал оплатить в карточке' OR ym:ce2:eventLabel=='Нажал оплатить в профиле'"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a86c0b50-bd4e-4c78-a902-64c8f0fb1101",
      "name": "Fetch AppMetrica Finance Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        -112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
            },
            {
              "name": "metrics",
              "value": "ym:ce2:devicesWithEvent,ym:ce2:allEvents"
            },
            {
              "name": "dimensions",
              "value": "ym:ce2:eventLabel"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "filters",
              "value": "ym:ce2:eventLabel=='Нажал оплатить в карточке' OR ym:ce2:eventLabel=='Нажал оплатить в профиле'"
            },
            {
              "name": "sort",
              "value": "-ym:ce2:allEvents"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "afdf2baa-354c-4fdf-838e-64c8f0fb1102",
      "name": "Fetch AppMetrica Finance Channels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        -112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.appmetrica.yandex.ru/stat/v1/data/bytime",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
            },
            {
              "name": "metrics",
              "value": "ym:ce2:allEvents"
            },
            {
              "name": "date1",
              "value": "={{ $('Resolve Source Config').first().json.date_from }}"
            },
            {
              "name": "date2",
              "value": "={{ $('Resolve Source Config').first().json.date_to }}"
            },
            {
              "name": "filters",
              "value": "ym:ce2:eventLabel=='Нажал оплатить в карточке' OR ym:ce2:eventLabel=='Нажал оплатить в профиле'"
            },
            {
              "name": "group",
              "value": "day"
            },
            {
              "name": "accuracy",
              "value": "full"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "4f51fb8c-0104-4f1e-8aaf-64c8f0fb1103",
      "name": "Fetch AppMetrica Finance By Time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -112
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Request": {
      "main": [
        [
          {
            "node": "Validate Request Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request Contract": {
      "main": [
        [
          {
            "node": "Dashboard Request Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Request Valid?": {
      "main": [
        [
          {
            "node": "Resolve Source Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Source Config": {
      "main": [
        [
          {
            "node": "Should Fetch AppMetrica?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Fetch AppMetrica?": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize AppMetrica Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Events": {
      "main": [
        [
          {
            "node": "Format App Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format App Events": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Geo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Geo": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Inst1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Inst1": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Inst2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Inst2": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Finance Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize AppMetrica Result": {
      "main": [
        [
          {
            "node": "Should Fetch Metrika?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Fetch Metrika?": {
      "main": [
        [
          {
            "node": "Fetch Metrika Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Metrika Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrika Summary": {
      "main": [
        [
          {
            "node": "Fetch Metrika By Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrika By Time": {
      "main": [
        [
          {
            "node": "Fetch Metrika Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrika Sources": {
      "main": [
        [
          {
            "node": "Fetch Metrika Bot Traffic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Metrika Bot Traffic": {
      "main": [
        [
          {
            "node": "Finalize Metrika Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Metrika Result": {
      "main": [
        [
          {
            "node": "Should Fetch Direct?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Fetch Direct?": {
      "main": [
        [
          {
            "node": "Build Direct Request Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Direct Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Direct Request Body": {
      "main": [
        [
          {
            "node": "Fetch Direct Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Direct Report": {
      "main": [
        [
          {
            "node": "Finalize Direct Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Direct Result": {
      "main": [
        [
          {
            "node": "Collect Source Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Source Results": {
      "main": [
        [
          {
            "node": "Build Dashboard Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Analytics": {
      "main": [
        [
          {
            "node": "Normalize Analytics Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Analytics Request": {
      "main": [
        [
          {
            "node": "Validate Analytics Request Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Analytics Request Contract": {
      "main": [
        [
          {
            "node": "Analytics Request Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Request Valid?": {
      "main": [
        [
          {
            "node": "Prepare Analytics Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Analytics Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Analytics Prompt": {
      "main": [
        [
          {
            "node": "Generate Analytics Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Analytics Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Analytics Analysis": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "Validate AI Response Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Response Contract": {
      "main": [
        [
          {
            "node": "AI Response Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response Valid?": {
      "main": [
        [
          {
            "node": "Format Analytics Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Invalid AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Finance Summary": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Finance Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Finance Channels": {
      "main": [
        [
          {
            "node": "Fetch AppMetrica Finance By Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AppMetrica Finance By Time": {
      "main": [
        [
          {
            "node": "Finalize AppMetrica Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "11070a1c-d5e1-4bf0-87ff-54119f4a6cd1",
  "activeVersionId": "1ab199b9-0bab-4183-9d33-f93d34b5dfc0",
  "versionCounter": 321,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-04-02T04:25:20.429Z",
      "createdAt": "2026-04-02T04:25:20.429Z",
      "role": "workflow:owner",
      "workflowId": "xfoZCPSjPCjzMTuNcBTMC",
      "projectId": "MJmyD4WSFNfFl77K",
      "project": {
        "updatedAt": "2026-01-22T06:15:34.392Z",
        "createdAt": "2026-01-22T05:47:07.076Z",
        "id": "MJmyD4WSFNfFl77K",
        "name": "Team GRUZAPP <team@gruz.app>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "8c198d67-eb0f-4a48-9c61-2f1293e85514",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T05:47:07.076Z",
            "createdAt": "2026-01-22T05:47:07.076Z",
            "userId": "8c198d67-eb0f-4a48-9c61-2f1293e85514",
            "projectId": "MJmyD4WSFNfFl77K",
            "user": {
              "updatedAt": "2026-04-20T04:07:34.068Z",
              "createdAt": "2026-01-22T05:47:06.482Z",
              "id": "8c198d67-eb0f-4a48-9c61-2f1293e85514",
              "email": "team@gruz.app",
              "firstName": "Team",
              "lastName": "GRUZAPP",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T06:16:21.230Z",
                "personalization_survey_n8n_version": "2.4.4",
                "automationGoalDevops": [
                  "cloud-infrastructure-orchestration",
                  "data-syncing",
                  "ci-cd"
                ],
                "companySize": "<20",
                "companyType": "systems-integrator",
                "role": "devops",
                "reportedSource": "friend"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "5RDQp3isnJuA8GCA",
                "userActivatedAt": 1770106435438,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1772418612650
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-20T10:08:01.748Z",
    "createdAt": "2026-04-20T10:08:01.748Z",
    "versionId": "1ab199b9-0bab-4183-9d33-f93d34b5dfc0",
    "workflowId": "xfoZCPSjPCjzMTuNcBTMC",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10,
                "triggerAtMinute": 30
              }
            ]
          }
        },
        "id": "5aac841a-a8cc-41e5-a0f0-6a52d9bea888",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1808,
          208
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "gruzap-dashboard",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "id": "416b6158-566d-4d66-a015-905e216b40d8",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1808,
          448
        ],
        "webhookId": "a7c3e591-22fd-4b8a-9d0e-bf5678901234"
      },
      {
        "parameters": {
          "jsCode": "const payload = ($json && $json.body) ? $json.body : ($json || {});\nconst rawDateFrom = typeof payload.date_from === 'string' ? payload.date_from.trim() : '';\nconst rawDateTo = typeof payload.date_to === 'string' ? payload.date_to.trim() : '';\nconst rawPeriodLabel = typeof payload.period_label === 'string' ? payload.period_label.trim() : '';\nconst rawSource = typeof payload.source === 'string' ? payload.source.trim() : '';\n\nlet dateFrom = rawDateFrom || null;\nlet dateTo = rawDateTo || null;\nlet periodLabel = rawPeriodLabel || null;\n\nconst derivablePeriods = new Set(['today', 'yesterday', 'last_7_days', 'last_30_days', 'this_month']);\n\nfunction fmt(date) {\n  const y = date.getFullYear();\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const d = String(date.getDate()).padStart(2, '0');\n  return y + '-' + m + '-' + d;\n}\n\nif (!dateFrom && !dateTo) {\n  const now = new Date();\n  const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n  const yesterday = new Date(today);\n  yesterday.setDate(today.getDate() - 1);\n\n  if (!periodLabel) {\n    periodLabel = 'yesterday';\n  }\n\n  if (derivablePeriods.has(periodLabel)) {\n    switch (periodLabel) {\n      case 'today':\n        dateFrom = fmt(today);\n        dateTo = fmt(today);\n        break;\n      case 'yesterday':\n        dateFrom = fmt(yesterday);\n        dateTo = fmt(yesterday);\n        break;\n      case 'last_7_days': {\n        const start = new Date(today);\n        start.setDate(today.getDate() - 7);\n        dateFrom = fmt(start);\n        dateTo = fmt(yesterday);\n        break;\n      }\n      case 'last_30_days': {\n        const start = new Date(today);\n        start.setDate(today.getDate() - 30);\n        dateFrom = fmt(start);\n        dateTo = fmt(yesterday);\n        break;\n      }\n      case 'this_month': {\n        const first = new Date(today.getFullYear(), today.getMonth(), 1);\n        dateFrom = fmt(first);\n        dateTo = fmt(today);\n        break;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    route: 'dashboard',\n    raw_payload: payload,\n    raw_source: rawSource || null,\n    raw_period_label: rawPeriodLabel || null,\n    date_from: dateFrom,\n    date_to: dateTo,\n    period_label: periodLabel || null,\n    request_source: (rawDateFrom || rawDateTo) ? 'explicit' : 'derived',\n  }\n}];"
        },
        "id": "4719118b-df0c-4f3c-8856-23b5b541912f",
        "name": "Normalize Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1600,
          208
        ]
      },
      {
        "parameters": {
          "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
              },
              {
                "name": "metrics",
                "value": "ym:ce2:devicesWithEvent,ym:ce2:allEvents"
              },
              {
                "name": "dimensions",
                "value": "ym:ce2:eventLabel"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "sort",
                "value": "-ym:ce2:allEvents"
              },
              {
                "name": "limit",
                "value": "100"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "df9df543-af8d-465f-9c47-374e07373edc",
        "name": "Fetch AppMetrica Events",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1360,
          208
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json || {};\nconst rows = Array.isArray(input.data) ? input.data : [];\nconst events = rows.map((row) => ({\n  event_name: row?.dimensions?.[0]?.name || 'Unknown event',\n  unique_devices: Number(row?.metrics?.[0]) || 0,\n  total_events: Number(row?.metrics?.[1]) || 0,\n}));\n\nreturn [{\n  json: {\n    source_request_ok: Array.isArray(input.data),\n    events,\n    upstream_error: input.error || input.message || null,\n  }\n}];"
        },
        "id": "dd0cbeca-0f9d-40ac-853a-d75bb032e7bf",
        "name": "Format App Events",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1136,
          208
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "gruzap-analytics",
          "responseMode": "lastNode",
          "options": {},
          "responseData": "firstEntryJson"
        },
        "id": "86d0aba1-88c3-489e-80af-ae6a5beb28ad",
        "name": "Webhook Analytics",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -1792,
          960
        ],
        "webhookId": "c9d8e7f6-5432-4abc-def0-123456789abc"
      },
      {
        "parameters": {
          "prompt": "={{ $json.prompt }}"
        },
        "id": "505e0ad9-3c23-4130-8f08-8aa9c52954f8",
        "name": "Generate Analytics Analysis",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.2,
        "position": [
          -1296,
          960
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "claude-sonnet-4-5-20250929",
            "cachedResultName": "Claude Sonnet 4.5"
          },
          "options": {}
        },
        "id": "7113de09-65f2-45b4-833b-83271370921a",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1.3,
        "position": [
          -1296,
          1168
        ],
        "credentials": {
          "anthropicApi": {
            "id": "TANiFJGJNiy8a25a",
            "name": "Аналитик и СММ - Клод"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('Resolve Source Config').first().json.app_ids }}"
              },
              {
                "name": "metrics",
                "value": "ym:ce2:devicesWithEvent"
              },
              {
                "name": "dimensions",
                "value": "ym:ce2:regionCity"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "sort",
                "value": "-ym:ce2:devicesWithEvent"
              },
              {
                "name": "limit",
                "value": "8"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "10e6900a-e0f0-4b83-a52a-c40dae61ce3d",
        "name": "Fetch AppMetrica Geo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -912,
          208
        ],
        "onError": "continueRegularOutput"
      },
      {
        "id": "cd01b8c3-af39-4e9f-9520-2a5d50bee6fe",
        "name": "Build Dashboard Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          208
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json || {};\nconst cfg = $('Resolve Source Config').first().json || {};\nconst sources = Array.isArray(input.sources) ? input.sources : [];\n\nconst sourceMap = Object.fromEntries(sources.map((item) => [item.source, item]));\n\nconst sourceStatus = {\n  appmetrica: {\n    requested: !!sourceMap.appmetrica?.requested,\n    ok: !!sourceMap.appmetrica?.ok,\n    error_code: sourceMap.appmetrica?.error_code || null,\n    error_message: sourceMap.appmetrica?.error_message || null,\n    warnings: sourceMap.appmetrica?.warnings || [],\n    has_data: !!sourceMap.appmetrica?.meta?.has_data,\n  },\n  metrika: {\n    requested: !!sourceMap.metrika?.requested,\n    ok: !!sourceMap.metrika?.ok,\n    error_code: sourceMap.metrika?.error_code || null,\n    error_message: sourceMap.metrika?.error_message || null,\n    warnings: sourceMap.metrika?.warnings || [],\n    has_data: !!sourceMap.metrika?.meta?.has_data,\n  },\n  direct: {\n    requested: !!sourceMap.direct?.requested,\n    ok: !!sourceMap.direct?.ok,\n    error_code: sourceMap.direct?.error_code || null,\n    error_message: sourceMap.direct?.error_message || null,\n    warnings: sourceMap.direct?.warnings || [],\n    has_data: !!sourceMap.direct?.meta?.has_data,\n  },\n};\n\nconst requestedResults = sources.filter((item) => item.requested);\nconst successfulResults = requestedResults.filter((item) => item.ok);\nconst failedResults = requestedResults.filter((item) => !item.ok);\n\nconst warnings = [\n  ...(cfg.config_warnings || []),\n  ...requestedResults.flatMap((item) => Array.isArray(item.warnings) ? item.warnings : []),\n];\n\nconst errors = requestedResults.flatMap((item) => Array.isArray(item.errors) ? item.errors : []);\n\nreturn [{\n  json: {\n    success: successfulResults.length > 0,\n    partial_failure: successfulResults.length > 0 && failedResults.length > 0,\n    errors,\n    warnings,\n    period: {\n      date_from: cfg.date_from || null,\n      date_to: cfg.date_to || null,\n      period_label: cfg.period_label || null,\n    },\n    data: {\n      appmetrica: sourceMap.appmetrica?.data || null,\n      metrika: sourceMap.metrika?.data || null,\n      direct: sourceMap.direct?.data || null,\n    },\n    source_status: sourceStatus,\n    generated_at: new Date().toISOString(),\n  }\n}];"
        }
      },
      {
        "parameters": {
          "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "6272311"
              },
              {
                "name": "metrics",
                "value": "ym:i:devices"
              },
              {
                "name": "dimensions",
                "value": "ym:i:campaignName"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "sort",
                "value": "-ym:i:devices"
              },
              {
                "name": "limit",
                "value": "20"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "2edac235-8cc3-49ca-8d22-2c8e9ff0608a",
        "name": "Fetch AppMetrica Inst1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -912,
          48
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api.appmetrica.yandex.ru/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "4735402"
              },
              {
                "name": "metrics",
                "value": "ym:i:devices"
              },
              {
                "name": "dimensions",
                "value": "ym:i:campaignName"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.inst2_date_to }}"
              },
              {
                "name": "sort",
                "value": "-ym:i:devices"
              },
              {
                "name": "limit",
                "value": "20"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.appmetrica_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "c2f3c5a7-b135-45ce-bf5a-f464fe6633ae",
        "name": "Fetch AppMetrica Inst2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -912,
          -112
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api-metrika.yandex.net/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
              },
              {
                "name": "metrics",
                "value": "ym:s:visits,ym:s:users,ym:s:bounceRate,ym:s:avgVisitDurationSeconds"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "64807ef4-5aae-49d2-a5b3-986e4036f0a1",
        "name": "Fetch Metrika Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1360,
          432
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api-metrika.yandex.net/stat/v1/data/bytime",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
              },
              {
                "name": "metrics",
                "value": "ym:s:visits,ym:s:users"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "group",
                "value": "day"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "904f813e-45c3-45d6-b0cb-d5f501878f49",
        "name": "Fetch Metrika By Time",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1136,
          432
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api-metrika.yandex.net/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
              },
              {
                "name": "metrics",
                "value": "ym:s:visits,ym:s:users,ym:s:bounceRate"
              },
              {
                "name": "dimensions",
                "value": "ym:s:lastTrafficSource"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "sort",
                "value": "-ym:s:visits"
              },
              {
                "name": "limit",
                "value": "10"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "6037dbee-ddc5-4fe9-a8cf-19372c6bc1e1",
        "name": "Fetch Metrika Sources",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -912,
          432
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "url": "https://api-metrika.yandex.net/stat/v1/data",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "ids",
                "value": "={{ $('Resolve Source Config').first().json.metrika_counter_id }}"
              },
              {
                "name": "metrics",
                "value": "ym:s:visits,ym:s:users"
              },
              {
                "name": "dimensions",
                "value": "ym:s:startURL"
              },
              {
                "name": "date1",
                "value": "={{ $('Resolve Source Config').first().json.date_from }}"
              },
              {
                "name": "date2",
                "value": "={{ $('Resolve Source Config').first().json.date_to }}"
              },
              {
                "name": "filters",
                "value": "ym:s:startURL=~'telegram' OR ym:s:startURL=~'t.me'"
              },
              {
                "name": "sort",
                "value": "-ym:s:visits"
              },
              {
                "name": "limit",
                "value": "10"
              },
              {
                "name": "accuracy",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'OAuth ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "338fbf74-219b-4ec2-a0f1-a25f1637cb58",
        "name": "Fetch Metrika Bot Traffic",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -688,
          352
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const d = $('Resolve Source Config').first().json;\nconst periodMap = {\n  yesterday: 'YESTERDAY',\n  today: 'TODAY',\n  last_7_days: 'LAST_7_DAYS',\n  last_30_days: 'LAST_30_DAYS',\n  this_month: 'THIS_MONTH'\n};\nconst nativePeriod = periodMap[d.period_label];\nconst fieldNames = ['Date','Clicks','Impressions','Ctr','AvgCpc','Cost','Conversions','CostPerConversion'];\nlet params;\nif (nativePeriod) {\n  params = {\n    SelectionCriteria: {},\n    FieldNames: fieldNames,\n    ReportName: 'gruzap_dashboard_' + nativePeriod.toLowerCase(),\n    ReportType: 'ACCOUNT_PERFORMANCE_REPORT',\n    DateRangeType: nativePeriod,\n    Format: 'TSV',\n    IncludeVAT: 'YES',\n    IncludeDiscount: 'YES'\n  };\n} else {\n  params = {\n    SelectionCriteria: { DateFrom: d.date_from, DateTo: d.date_to },\n    FieldNames: fieldNames,\n    ReportName: 'gruzap_dashboard_custom',\n    ReportType: 'ACCOUNT_PERFORMANCE_REPORT',\n    DateRangeType: 'CUSTOM_DATE',\n    Format: 'TSV',\n    IncludeVAT: 'YES',\n    IncludeDiscount: 'YES'\n  };\n}\nreturn [{\n  json: {\n    ...d,\n    direct_request_body: JSON.stringify({ params })\n  }\n}];"
        },
        "id": "54fc0f86-a34d-4f13-ae89-839eff95d10f",
        "name": "Build Direct Request Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          672
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.direct.yandex.com/json/v5/reports",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'Bearer ' + $('Resolve Source Config').first().json.yandex_oauth_token }}"
              },
              {
                "name": "Client-Login",
                "value": "={{ $('Resolve Source Config').first().json.client_login }}"
              },
              {
                "name": "Accept-Language",
                "value": "ru"
              },
              {
                "name": "processingMode",
                "value": "auto"
              },
              {
                "name": "skipReportHeader",
                "value": "true"
              },
              {
                "name": "skipColumnHeader",
                "value": "false"
              },
              {
                "name": "skipReportSummary",
                "value": "true"
              },
              {
                "name": "returnMoneyInMicros",
                "value": "false"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.direct_request_body }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "4136ee16-0204-4e1c-a2ef-9e7126dd29ec",
        "name": "Fetch Direct Report",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1136,
          672
        ],
        "onError": "continueRegularOutput"
      },
      {
        "id": "2df6c9c7-d4f5-4e5c-9a03-1f79410f1111",
        "name": "Resolve Source Config",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1080,
          208
        ],
        "parameters": {
          "jsCode": "const validated = $('Validate Request Contract').first().json || {};\nconst raw = validated.normalized_request || {};\nconst payload = raw.raw_payload || {};\nconst configWarnings = [];\n\nconst legacyAppEndDate = '2026-03-31';\nconst primaryAppId = '6272311';\nconst legacyAppId = '4735402';\nconst useLegacyApp = !!raw.date_from && raw.date_from < '2026-04-01';\nconst appIds = useLegacyApp ? primaryAppId + ',' + legacyAppId : primaryAppId;\nconst inst2DateTo = useLegacyApp ? (raw.date_to > legacyAppEndDate ? legacyAppEndDate : raw.date_to) : raw.date_to;\n\nconst yandexOauthToken = payload.yandex_oauth_token || $env.YANDEX_OAUTH_TOKEN || $env.YANDEX_TOKEN || 'y0__xCIj9GiBxjMqD8gnNLv6xYi53tNIuy00fSsAXVvz3ME1dx2Lg';\nconst appmetricaToken = payload.appmetrica_token || $env.APPMETRICA_TOKEN || 'y0__xCIj9GiBxi1vz8gk8e18BYV3hcGH9BGMLJrW38Yqfst56Q4fA';\nconst clientLogin = payload.client_login || 'siberian.gruzoviki';\nconst metrikaCounterId = payload.metrika_counter_id || '105289797';\nconst requestedSources = Array.isArray(raw.requested_sources) ? raw.requested_sources : ['appmetrica', 'metrika', 'direct'];\n\nif (useLegacyApp) {\n  configWarnings.push('legacy_app_window_applied');\n}\n\nreturn [{\n  json: {\n    ...raw,\n    app_ids: appIds,\n    inst2_date_to: inst2DateTo,\n    yandex_oauth_token: yandexOauthToken,\n    appmetrica_token: appmetricaToken,\n    client_login: clientLogin,\n    metrika_counter_id: metrikaCounterId,\n    legacy_app_end_date: legacyAppEndDate,\n    requested_sources: requestedSources,\n    request_appmetrica: requestedSources.includes('appmetrica'),\n    request_metrika: requestedSources.includes('metrika'),\n    request_direct: requestedSources.includes('direct'),\n    config_warnings: configWarnings,\n  }\n}];"
        }
      },
      {
        "id": "c44a8f73-6b7d-4d11-b8bf-0dd2ab1c1111",
        "name": "Finalize AppMetrica Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -688,
          208
        ],
        "parameters": {
          "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction addError(list, code, field, message) {\n  list.push({ code, field, message });\n}\n\nfunction extractProviderError(raw) {\n  if (!raw || typeof raw !== 'object') return null;\n  return raw.error || raw.message || raw.description || raw.reason || null;\n}\n\nfunction renderProviderError(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') return value;\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return String(value);\n  }\n}\n\nfunction parseInstallSources(raw) {\n  const map = {};\n  if (!raw || !Array.isArray(raw.data)) return map;\n  raw.data.forEach((row) => {\n    const source = row?.dimensions?.[0]?.name || 'Unknown';\n    const metric = row?.metrics?.[0] || 0;\n    const installs = Array.isArray(metric) ? metric.reduce((sum, value) => sum + (Number(value) || 0), 0) : Number(metric) || 0;\n    map[source] = (map[source] || 0) + Math.round(installs);\n  });\n  return map;\n}\n\nfunction getInstallTotal(raw) {\n  if (raw?.totals?.[0] != null) return Math.round(Number(raw.totals[0]) || 0);\n  return Object.values(parseInstallSources(raw)).reduce((sum, value) => sum + value, 0);\n}\n\nconst cfgWrap = readNode('Resolve Source Config');\nconst formatWrap = readNode('Format App Events');\nconst geoWrap = readNode('Fetch AppMetrica Geo');\nconst inst1Wrap = readNode('Fetch AppMetrica Inst1');\nconst inst2Wrap = readNode('Fetch AppMetrica Inst2');\n\nconst cfg = cfgWrap.value || {};\nconst requested = !!cfg.request_appmetrica;\nconst warnings = [];\nconst errors = [];\n\nif (!cfgWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'resolve_source_config', 'Resolve Source Config result is required');\n}\n\nif (requested) {\n  if (!formatWrap.exists) addError(errors, 'missing_upstream_result', 'format_app_events', 'Format App Events did not run');\n  if (!geoWrap.exists) addError(errors, 'missing_upstream_result', 'fetch_app_geo', 'Fetch AppMetrica Geo did not run');\n  if (!inst1Wrap.exists) addError(errors, 'missing_upstream_result', 'fetch_app_inst1', 'Fetch AppMetrica Inst1 did not run');\n  if (String(cfg.app_ids || '').includes(',') && !inst2Wrap.exists) {\n    addError(errors, 'missing_upstream_result', 'fetch_app_inst2', 'Fetch AppMetrica Inst2 did not run');\n  }\n}\n\nconst formatted = formatWrap.value || {};\nconst geoRaw = geoWrap.value || {};\nconst inst1 = inst1Wrap.value || {};\nconst inst2 = inst2Wrap.value || {};\n\nconst formattedError = extractProviderError(formatted) || formatted.upstream_error || null;\nconst geoError = extractProviderError(geoRaw);\nconst inst1Error = extractProviderError(inst1);\nconst inst2Error = extractProviderError(inst2);\n\nif (requested && formattedError) addError(errors, 'events_fetch_failed', 'appmetrica.events', renderProviderError(formattedError));\nif (requested && geoError) addError(errors, 'geo_fetch_failed', 'appmetrica.geo', renderProviderError(geoError));\nif (requested && inst1Error) addError(errors, 'inst1_fetch_failed', 'appmetrica.installs', renderProviderError(inst1Error));\nif (requested && String(cfg.app_ids || '').includes(',') && inst2Error) {\n  addError(errors, 'inst2_fetch_failed', 'appmetrica.installs_legacy', renderProviderError(inst2Error));\n}\n\nconst geo = Array.isArray(geoRaw.data)\n  ? geoRaw.data\n      .map((row) => ({\n        city: row?.dimensions?.[0]?.name || '',\n        drivers: Math.round(Number(row?.metrics?.[0]) || 0),\n      }))\n      .filter((row) => row.city && row.city !== 'Unknown')\n  : [];\n\nconst mergedSources = { ...parseInstallSources(inst1) };\nlet installsTotal = getInstallTotal(inst1);\n\nif (String(cfg.app_ids || '').includes(',')) {\n  const secondMap = parseInstallSources(inst2);\n  Object.entries(secondMap).forEach(([key, value]) => {\n    mergedSources[key] = (mergedSources[key] || 0) + value;\n  });\n  installsTotal += getInstallTotal(inst2);\n}\n\nconst sources = Object.entries(mergedSources)\n  .map(([name, installs]) => ({ name, installs }))\n  .sort((a, b) => b.installs - a.installs)\n  .slice(0, 8);\n\nif (requested && !(formatted.events || []).length) warnings.push('no_appmetrica_events');\nif (requested && !sources.length) warnings.push('no_appmetrica_install_sources');\nif (requested && !geo.length) warnings.push('no_appmetrica_geo');\n\nconst hasData = requested && (\n  (formatted.events || []).length > 0 ||\n  sources.length > 0 ||\n  geo.length > 0\n);\n\nconst errorCode = errors[0]?.code || null;\nconst errorMessage = errors.length ? errors.map((item) => item.message).join('; ') : null;\n\nreturn [{\n  json: {\n    source: 'appmetrica',\n    requested,\n    ok: requested ? errors.length === 0 : false,\n    errors,\n    warnings,\n    data: requested ? {\n      events: formatted.events || [],\n      geo,\n      installs_total: installsTotal,\n      sources,\n      hours: [],\n    } : null,\n    meta: {\n      has_data: hasData,\n    },\n    error_code: errorCode,\n    error_message: errorMessage,\n  }\n}];"
        }
      },
      {
        "id": "d81c8450-4b4e-4aa8-b81b-f6c8209f1111",
        "name": "Finalize Metrika Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -264,
          208
        ],
        "parameters": {
          "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction addError(list, code, field, message) {\n  list.push({ code, field, message });\n}\n\nfunction extractProviderError(raw) {\n  if (!raw || typeof raw !== 'object') return null;\n  return raw.error || raw.message || raw.description || raw.reason || null;\n}\n\nfunction renderProviderError(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') return value;\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return String(value);\n  }\n}\n\nfunction metricAt(raw, index) {\n  if (!raw) return 0;\n  if (Array.isArray(raw.totals) && raw.totals[index] != null) return Number(raw.totals[index]) || 0;\n  if (Array.isArray(raw.data) && raw.data[0] && Array.isArray(raw.data[0].metrics)) return Number(raw.data[0].metrics[index]) || 0;\n  return 0;\n}\n\nfunction rowsToNamedMetrics(raw) {\n  return Array.isArray(raw?.data)\n    ? raw.data.map((row) => ({\n        name: row?.dimensions?.[0]?.name || row?.dimensions?.[0]?.id || 'Unknown',\n        visits: Number(row?.metrics?.[0]) || 0,\n        users: Number(row?.metrics?.[1]) || 0,\n        bounce_rate: Number(row?.metrics?.[2]) || 0,\n      }))\n    : [];\n}\n\nconst cfgWrap = readNode('Resolve Source Config');\nconst summaryWrap = readNode('Fetch Metrika Summary');\nconst seriesWrap = readNode('Fetch Metrika By Time');\nconst sourcesWrap = readNode('Fetch Metrika Sources');\nconst botWrap = readNode('Fetch Metrika Bot Traffic');\n\nconst cfg = cfgWrap.value || {};\nconst requested = !!cfg.request_metrika;\nconst warnings = [];\nconst errors = [];\n\nif (!cfgWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'resolve_source_config', 'Resolve Source Config result is required');\n}\n\nif (requested) {\n  if (!summaryWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.summary', 'Fetch Metrika Summary did not run');\n  if (!seriesWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.series', 'Fetch Metrika By Time did not run');\n  if (!sourcesWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.sources', 'Fetch Metrika Sources did not run');\n  if (!botWrap.exists) addError(errors, 'missing_upstream_result', 'metrika.bot', 'Fetch Metrika Bot Traffic did not run');\n}\n\nconst summaryRaw = summaryWrap.value || {};\nconst seriesRaw = seriesWrap.value || {};\nconst sourcesRaw = sourcesWrap.value || {};\nconst botRaw = botWrap.value || {};\n\nif (requested && extractProviderError(summaryRaw)) addError(errors, 'metrika_summary_failed', 'metrika.summary', renderProviderError(extractProviderError(summaryRaw)));\nif (requested && extractProviderError(seriesRaw)) addError(errors, 'metrika_series_failed', 'metrika.series', renderProviderError(extractProviderError(seriesRaw)));\nif (requested && extractProviderError(sourcesRaw)) addError(errors, 'metrika_sources_failed', 'metrika.sources', renderProviderError(extractProviderError(sourcesRaw)));\nif (requested && extractProviderError(botRaw)) addError(errors, 'metrika_bot_failed', 'metrika.bot', renderProviderError(extractProviderError(botRaw)));\n\nconst sessions = metricAt(summaryRaw, 0);\nconst users = metricAt(summaryRaw, 1);\nconst bounceRate = metricAt(summaryRaw, 2);\nconst avgVisitSeconds = metricAt(summaryRaw, 3);\n\nconst botPages = Array.isArray(botRaw.data)\n  ? botRaw.data.map((row) => ({\n      name: row?.dimensions?.[0]?.name || 'Unknown page',\n      visits: Number(row?.metrics?.[0]) || 0,\n      users: Number(row?.metrics?.[1]) || 0,\n    }))\n  : [];\nconst botSessions = botPages.reduce((sum, row) => sum + row.visits, 0);\n\nlet series = [];\nif (Array.isArray(seriesRaw.time_intervals) && Array.isArray(seriesRaw.data?.[0]?.metrics?.[0])) {\n  const labels = seriesRaw.time_intervals.map((interval) => Array.isArray(interval) ? String(interval[0] || '') : String(interval || ''));\n  const visitsSeries = seriesRaw.data[0].metrics[0] || [];\n  const usersSeries = seriesRaw.data[0].metrics[1] || [];\n  series = labels.map((label, index) => ({\n    date: label,\n    label: label ? label.slice(5) : '-',\n    visits: Number(visitsSeries[index]) || 0,\n    users: Number(usersSeries[index]) || 0,\n  }));\n}\n\nconst sources = rowsToNamedMetrics(sourcesRaw)\n  .sort((a, b) => b.visits - a.visits)\n  .slice(0, 8)\n  .map(({ name, visits, users }) => ({ name, visits, users }));\n\nif (requested && !sessions) warnings.push('no_metrika_sessions');\nif (requested && bounceRate >= 65) warnings.push('high_bounce_rate');\nif (requested && sessions > 0 && (botSessions / sessions) >= 0.2) warnings.push('high_bot_entry_share');\n\nconst hasData = requested && (\n  sessions > 0 ||\n  sources.length > 0 ||\n  botPages.length > 0 ||\n  series.length > 0\n);\n\nconst errorCode = errors[0]?.code || null;\nconst errorMessage = errors.length ? errors.map((item) => item.message).join('; ') : null;\n\nreturn [{\n  json: {\n    source: 'metrika',\n    requested,\n    ok: requested ? errors.length === 0 : false,\n    errors,\n    warnings,\n    data: requested ? {\n      summary: {\n        sessions,\n        users,\n        bounce_rate: bounceRate,\n        avg_session_min: avgVisitSeconds / 60,\n        bot_sessions: botSessions,\n        bot_activation_percent: sessions > 0 ? (botSessions / sessions) * 100 : 0,\n      },\n      series,\n      sources,\n      bot_pages: botPages.slice(0, 8),\n    } : null,\n    meta: {\n      has_data: hasData,\n    },\n    error_code: errorCode,\n    error_message: errorMessage,\n  }\n}];"
        }
      },
      {
        "id": "e2504cc2-9c9b-4a80-9d18-93f6fd1a1111",
        "name": "Finalize Direct Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          208
        ],
        "parameters": {
          "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction addError(list, code, field, message) {\n  list.push({ code, field, message });\n}\n\nfunction extractProviderError(raw) {\n  if (!raw || typeof raw !== 'object') return null;\n  return raw.error || raw.message || raw.description || raw.reason || null;\n}\n\nfunction renderProviderError(value) {\n  if (value == null) return null;\n  if (typeof value === 'string') return value;\n  try {\n    return JSON.stringify(value);\n  } catch {\n    return String(value);\n  }\n}\n\nfunction extractText(raw) {\n  if (typeof raw === 'string') return raw;\n  if (typeof raw?.body === 'string') return raw.body;\n  if (typeof raw?.data === 'string') return raw.data;\n  if (typeof raw?.responseBody === 'string') return raw.responseBody;\n  return '';\n}\n\nfunction parseTsv(text) {\n  const lines = String(text || '').split(/\\r?\\n/).map((line) => line.trim()).filter(Boolean);\n  if (!lines.length) return [];\n  const headerIndex = lines.findIndex((line) => line.includes('\\t') && /Date|Impressions|Clicks/.test(line));\n  if (headerIndex === -1 || headerIndex === lines.length - 1) return [];\n  const headers = lines[headerIndex].split('\\t');\n  return lines.slice(headerIndex + 1).map((line) => {\n    const values = line.split('\\t');\n    const row = {};\n    headers.forEach((header, index) => {\n      row[header] = values[index];\n    });\n    return row;\n  });\n}\n\nconst cfgWrap = readNode('Resolve Source Config');\nconst rawWrap = readNode('Fetch Direct Report');\nconst cfg = cfgWrap.value || {};\nconst requested = !!cfg.request_direct;\nconst warnings = [];\nconst errors = [];\n\nif (!cfgWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'resolve_source_config', 'Resolve Source Config result is required');\n}\n\nif (requested && !rawWrap.exists) {\n  addError(errors, 'missing_upstream_result', 'direct.report', 'Fetch Direct Report did not run');\n}\n\nconst raw = rawWrap.value || {};\nconst rawError = extractProviderError(raw);\nif (requested && rawError) {\n  addError(errors, 'direct_fetch_failed', 'direct.report', renderProviderError(rawError));\n}\n\nconst directRows = parseTsv(extractText(raw)).map((row) => {\n  const spend = Number(row.Cost || row.CostCur || row.CostWithVAT || 0) || 0;\n  const impressions = Number(row.Impressions || 0) || 0;\n  const clicks = Number(row.Clicks || 0) || 0;\n  const ctr = Number(row.Ctr || 0) || 0;\n  const avgCpc = Number(row.AvgCpc || row.AvgClickPrice || 0) || 0;\n  const conversions = Number(row.Conversions || row.GoalReaches || 0) || 0;\n  const cpa = conversions > 0 ? spend / conversions : 0;\n  return {\n    date: row.Date || '',\n    spend,\n    impressions,\n    clicks,\n    ctr,\n    avg_cpc: avgCpc,\n    conversions,\n    cpa,\n  };\n});\n\nif (requested && !directRows.length && !errors.length) {\n  warnings.push('direct_report_empty');\n  addError(errors, 'direct_parse_failed', 'direct.report', 'Direct report did not contain tabular rows');\n}\n\nconst summary = directRows.reduce((acc, row) => {\n  acc.spend += row.spend;\n  acc.impressions += row.impressions;\n  acc.clicks += row.clicks;\n  acc.conversions += row.conversions;\n  return acc;\n}, { spend: 0, impressions: 0, clicks: 0, conversions: 0 });\nsummary.ctr = summary.impressions > 0 ? (summary.clicks / summary.impressions) * 100 : 0;\nsummary.avg_cpc = summary.clicks > 0 ? summary.spend / summary.clicks : 0;\nsummary.cr = summary.clicks > 0 ? (summary.conversions / summary.clicks) * 100 : 0;\nsummary.cpa = summary.conversions > 0 ? summary.spend / summary.conversions : 0;\n\nif (requested && summary.ctr > 0 && summary.ctr < 1) warnings.push('low_direct_ctr');\nif (requested && summary.conversions === 0) warnings.push('no_direct_conversions');\n\nconst hasData = requested && directRows.length > 0;\nconst errorCode = errors[0]?.code || null;\nconst errorMessage = errors.length ? errors.map((item) => item.message).join('; ') : null;\n\nreturn [{\n  json: {\n    source: 'direct',\n    requested,\n    ok: requested ? errors.length === 0 : false,\n    errors,\n    warnings,\n    data: requested ? {\n      summary,\n      daily: directRows,\n    } : null,\n    meta: {\n      has_data: hasData,\n    },\n    error_code: errorCode,\n    error_message: errorMessage,\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20001",
        "name": "Validate Request Contract",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          208
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json || {};\nconst payload = input.raw_payload || {};\nconst errors = [];\nconst warnings = [];\n\nconst allowedPeriods = new Set(['today', 'yesterday', 'last_7_days', 'last_30_days', 'this_month', 'custom']);\nconst allowedSources = new Set(['appmetrica', 'metrika', 'direct', 'all']);\nconst isoDate = /^\\d{4}-\\d{2}-\\d{2}$/;\n\nfunction pushError(code, field, message) {\n  errors.push({ code, field, message });\n}\n\nconst source = input.raw_source || 'all';\nconst periodLabel = input.period_label || (input.request_source === 'explicit' ? 'custom' : null);\n\nif (payload.source != null && payload.source !== '' && !allowedSources.has(source)) {\n  pushError('invalid_source', 'source', 'source must be one of appmetrica, metrika, direct, all');\n}\n\nif (payload.period_label != null && payload.period_label !== '' && !allowedPeriods.has(String(payload.period_label).trim())) {\n  pushError('invalid_period_label', 'period_label', 'period_label must be one of today, yesterday, last_7_days, last_30_days, this_month, custom');\n}\n\nif ((payload.date_from && !payload.date_to) || (!payload.date_from && payload.date_to)) {\n  pushError('incomplete_date_range', 'date_range', 'date_from and date_to must be provided together');\n}\n\nif (input.date_from && !isoDate.test(input.date_from)) {\n  pushError('invalid_date_from', 'date_from', 'date_from must use YYYY-MM-DD');\n}\n\nif (input.date_to && !isoDate.test(input.date_to)) {\n  pushError('invalid_date_to', 'date_to', 'date_to must use YYYY-MM-DD');\n}\n\nif (!input.date_from || !input.date_to) {\n  pushError('missing_date_range', 'date_range', 'date range could not be resolved from the request');\n}\n\nif (input.date_from && input.date_to && input.date_from > input.date_to) {\n  pushError('invalid_date_range', 'date_range', 'date_from must be less than or equal to date_to');\n}\n\nconst requestedSources = source === 'all' ? ['appmetrica', 'metrika', 'direct'] : [source];\n\nreturn [{\n  json: {\n    route: 'dashboard',\n    valid: errors.length === 0,\n    errors,\n    warnings,\n    normalized_request: {\n      ...input,\n      source,\n      requested_sources: requestedSources,\n      period_label: periodLabel || 'custom',\n    },\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20002",
        "name": "Dashboard Request Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1220,
          208
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20002-condition",
                "leftValue": "={{ $json.valid }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20003",
        "name": "Build Validation Error Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1020,
          368
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json || {};\nconst normalized = input.normalized_request || {};\nconst requested = Array.isArray(normalized.requested_sources) ? normalized.requested_sources : [];\n\nconst sourceStatus = {\n  appmetrica: {\n    requested: requested.includes('appmetrica'),\n    ok: false,\n    error_code: null,\n    error_message: null,\n    warnings: [],\n    has_data: false,\n  },\n  metrika: {\n    requested: requested.includes('metrika'),\n    ok: false,\n    error_code: null,\n    error_message: null,\n    warnings: [],\n    has_data: false,\n  },\n  direct: {\n    requested: requested.includes('direct'),\n    ok: false,\n    error_code: null,\n    error_message: null,\n    warnings: [],\n    has_data: false,\n  },\n};\n\nreturn [{\n  json: {\n    success: false,\n    partial_failure: false,\n    errors: Array.isArray(input.errors) ? input.errors : [],\n    warnings: Array.isArray(input.warnings) ? input.warnings : [],\n    period: {\n      date_from: normalized.date_from || null,\n      date_to: normalized.date_to || null,\n      period_label: normalized.period_label || null,\n    },\n    data: {\n      appmetrica: null,\n      metrika: null,\n      direct: null,\n    },\n    source_status: sourceStatus,\n    generated_at: new Date().toISOString(),\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20004",
        "name": "Should Fetch AppMetrica?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -860,
          208
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20004-condition",
                "leftValue": "={{ $json.request_appmetrica }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20005",
        "name": "Should Fetch Metrika?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -436,
          208
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20005-condition",
                "leftValue": "={{ $('Resolve Source Config').first().json.request_metrika }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20006",
        "name": "Should Fetch Direct?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -12,
          208
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20006-condition",
                "leftValue": "={{ $('Resolve Source Config').first().json.request_direct }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20007",
        "name": "Collect Source Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          208
        ],
        "parameters": {
          "jsCode": "function readNode(name) {\n  try {\n    return { exists: true, value: $(name).first().json || {} };\n  } catch {\n    return { exists: false, value: null };\n  }\n}\n\nfunction fallbackSourceResult(source, requested) {\n  const errors = requested ? [{\n    code: 'missing_finalize_result',\n    field: source,\n    message: 'Finalize result for ' + source + ' is missing',\n  }] : [];\n\n  return {\n    source,\n    requested,\n    ok: false,\n    errors,\n    warnings: [],\n    data: null,\n    meta: {\n      has_data: false,\n    },\n    error_code: errors[0]?.code || null,\n    error_message: errors[0]?.message || null,\n  };\n}\n\nconst cfg = $('Resolve Source Config').first().json || {};\nconst requestedSources = Array.isArray(cfg.requested_sources) ? cfg.requested_sources : ['appmetrica', 'metrika', 'direct'];\n\nconst mapping = [\n  { source: 'appmetrica', node: 'Finalize AppMetrica Result' },\n  { source: 'metrika', node: 'Finalize Metrika Result' },\n  { source: 'direct', node: 'Finalize Direct Result' },\n];\n\nconst sources = mapping.map(({ source, node }) => {\n  const wrap = readNode(node);\n  if (wrap.exists) {\n    return wrap.value || fallbackSourceResult(source, requestedSources.includes(source));\n  }\n  return fallbackSourceResult(source, requestedSources.includes(source));\n});\n\nreturn [{\n  json: {\n    requested_sources: requestedSources,\n    sources,\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20008",
        "name": "Normalize Analytics Request",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1600,
          960
        ],
        "parameters": {
          "jsCode": "const body = ($json && $json.body) ? $json.body : ($json || {});\n\nfunction formatRuDate(iso) {\n  if (!iso || typeof iso !== 'string') return '';\n  const parts = iso.split('-');\n  if (parts.length !== 3) return iso;\n  const date = new Date(Date.UTC(Number(parts[0]), Number(parts[1]) - 1, Number(parts[2])));\n  const months = ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'];\n  return String(date.getUTCDate()) + ' ' + months[date.getUTCMonth()];\n}\n\nconst dateFrom = typeof body.date_from === 'string' ? body.date_from.trim() : '';\nconst dateTo = typeof body.date_to === 'string' ? body.date_to.trim() : '';\nconst periodName = (dateFrom && dateTo)\n  ? (dateFrom === dateTo ? formatRuDate(dateFrom) : formatRuDate(dateFrom) + ' - ' + formatRuDate(dateTo))\n  : 'выбранный период';\n\nreturn [{\n  json: {\n    route: 'analytics',\n    raw_payload: body,\n    tab: typeof body.tab === 'string' ? body.tab.trim() : '',\n    date_from: dateFrom || null,\n    date_to: dateTo || null,\n    data: body.data ?? null,\n    period_name: periodName,\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20009",
        "name": "Validate Analytics Request Contract",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1376,
          960
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json || {};\nconst errors = [];\nconst warnings = [];\nconst allowedTabs = new Set(['appmetrica', 'metrika', 'direct']);\nconst isoDate = /^\\d{4}-\\d{2}-\\d{2}$/;\n\nfunction pushError(code, field, message) {\n  errors.push({ code, field, message });\n}\n\nif (!input.tab) {\n  pushError('missing_tab', 'tab', 'tab is required');\n} else if (!allowedTabs.has(input.tab)) {\n  pushError('invalid_tab', 'tab', 'tab must be one of appmetrica, metrika, direct');\n}\n\nif ((input.date_from && !input.date_to) || (!input.date_from && input.date_to)) {\n  pushError('incomplete_date_range', 'date_range', 'date_from and date_to must be provided together');\n}\n\nif (input.date_from && !isoDate.test(input.date_from)) {\n  pushError('invalid_date_from', 'date_from', 'date_from must use YYYY-MM-DD');\n}\n\nif (input.date_to && !isoDate.test(input.date_to)) {\n  pushError('invalid_date_to', 'date_to', 'date_to must use YYYY-MM-DD');\n}\n\nif (input.date_from && input.date_to && input.date_from > input.date_to) {\n  pushError('invalid_date_range', 'date_range', 'date_from must be less than or equal to date_to');\n}\n\nif (input.data == null) {\n  pushError('missing_data', 'data', 'data payload is required');\n}\n\nreturn [{\n  json: {\n    route: 'analytics',\n    valid: errors.length === 0,\n    errors,\n    warnings,\n    normalized_request: input,\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20010",
        "name": "Analytics Request Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1168,
          960
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20010-condition",
                "leftValue": "={{ $json.valid }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20011",
        "name": "Build Analytics Validation Error Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -976,
          1152
        ],
        "parameters": {
          "jsCode": "const input = $input.first().json || {};\nconst normalized = input.normalized_request || {};\n\nreturn [{\n  json: {\n    success: false,\n    partial_failure: false,\n    errors: Array.isArray(input.errors) ? input.errors : [],\n    warnings: Array.isArray(input.warnings) ? input.warnings : [],\n    tab: normalized.tab || null,\n    period_name: normalized.period_name || '',\n    analysis: null,\n    analysis_text: null,\n    model: 'claude-sonnet-4-5-20250929',\n  }\n}];"
        }
      },
      {
        "id": "755b01ae-0f5d-4e2f-b747-cba1e88af190",
        "name": "Prepare Analytics Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -944,
          960
        ],
        "parameters": {
          "jsCode": "const input = $('Validate Analytics Request Contract').first().json || {};\nconst request = input.normalized_request || {};\nconst tab = request.tab;\nconst payload = request.data;\nconst periodName = request.period_name || 'выбранный период';\n\nfunction round(value, digits = 1) {\n  const n = Number(value) || 0;\n  const factor = Math.pow(10, digits);\n  return Math.round(n * factor) / factor;\n}\n\nfunction metricLine(label, value) {\n  return '- ' + label + ': ' + value;\n}\n\nfunction normalizeTrafficSource(name) {\n  const map = {\n    'ad traffic': 'Рекламный трафик',\n    'search engine traffic': 'Поисковый трафик',\n    'social network traffic': 'Социальные сети',\n    'messenger traffic': 'Мессенджеры',\n    'direct traffic': 'Прямые заходы',\n    'referrals': 'Переходы по ссылкам',\n    'internal transitions': 'Внутренние переходы',\n    'email': 'Почтовые рассылки',\n    'saved pages': 'Сохраненные страницы',\n    'undefined': 'Неизвестный источник',\n  };\n  const key = String(name || '').trim().toLowerCase();\n  return map[key] || String(name || 'Неизвестный источник');\n}\n\nfunction normalizeBotPage(name) {\n  const value = String(name || '').trim();\n  if (!value) return 'Неизвестная страница';\n  return value.replace(/^https?:\\/\\//i, '').replace(/\\/$/, '');\n}\n\nfunction rules(roleTitle, focus, extraRules) {\n  return [\n    'Ты ' + roleTitle + '.',\n    'Сделай краткий, деловой и точный вывод только по входным данным.',\n    'Не придумывай факты, причины или сегменты, которых нет во входных данных.',\n    'Верни только JSON без markdown, без пояснений и без обрамляющего текста.',\n    'Строгая JSON-схема ответа:',\n    '{',\n    '  \"title\": \"string\",',\n    '  \"verdict\": \"string\",',\n    '  \"good\": [\"string\", \"string\"],',\n    '  \"bad\": [\"string\", \"string\"],',\n    '  \"next_steps\": [\"string\", \"string\", \"string\"],',\n    '  \"confidence\": \"high|medium|low\"',\n    '}',\n    'Поле good должно содержать ровно 2 пункта.',\n    'Поле bad должно содержать 2 или 3 пункта.',\n    'Поле next_steps должно содержать ровно 3 пункта.',\n    'Все поля обязательны.',\n    'Фокус анализа: ' + focus + '.',\n    extraRules,\n  ].join('\\n');\n}\n\nfunction buildAppPrompt(data) {\n  const events = Array.isArray(data?.events) ? data.events : [];\n  const sources = Array.isArray(data?.sources) ? data.sources.slice(0, 8) : [];\n  const geo = Array.isArray(data?.geo) ? data.geo.slice(0, 6) : [];\n  const find = (name) => events.find((item) => item.event_name === name) || { unique_devices: 0, total_events: 0 };\n  const active = events.length ? Math.max(...events.map((item) => Number(item.unique_devices) || 0), 0) : 0;\n  const registrations = Number(find('Зарегистрировался').unique_devices) || 0;\n  const openFilter = Number(find('Открыл фильтр').unique_devices) || 0;\n  const openOrder = Number(find('Открыл заявку').unique_devices) || 0;\n  const phoneTap = Number(find('Нажал на телефон в заявке').unique_devices) || 0;\n  const phoneConversion = openOrder > 0 ? round((phoneTap / openOrder) * 100, 1) : 0;\n  const regFromActive = active > 0 ? round((registrations / active) * 100, 1) : 0;\n\n  return [\n    rules(\n      'senior product marketing analyst мобильного продукта ГРУЗАП',\n      'активация, продуктовая воронка, качество установок и переход к контакту',\n      'Если вывод неочевиден, формулируй аккуратно и не усиливай уверенность.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Активные водители', active),\n    metricLine('Регистрации', registrations),\n    metricLine('Конверсия активный водитель -> регистрация', regFromActive + '%'),\n    metricLine('Открыл фильтр', openFilter),\n    metricLine('Открыл заявку', openOrder),\n    metricLine('Нажал на телефон', phoneTap),\n    metricLine('Конверсия просмотр заявки -> звонок', phoneConversion + '%'),\n    'Топ событий:',\n    events.slice(0, 10).map((item) => '- ' + item.event_name + ': ' + (item.unique_devices || 0) + ' уник., ' + (item.total_events || 0) + ' событий').join('\\n') || '- Нет событий',\n    'Источники установок:',\n    sources.map((item) => '- ' + item.name + ': ' + (item.installs || 0) + ' установок').join('\\n') || '- Нет данных по источникам',\n    'География:',\n    geo.map((item) => '- ' + item.city + ': ' + (item.drivers || 0) + ' активных водителей').join('\\n') || '- Нет географии',\n  ].join('\\n');\n}\n\nfunction buildMetrikaPrompt(data) {\n  const summary = data?.summary || {};\n  const sources = Array.isArray(data?.sources) ? data.sources.slice(0, 8) : [];\n  const botPages = Array.isArray(data?.bot_pages) ? data.bot_pages.slice(0, 8) : [];\n  const series = Array.isArray(data?.series) ? data.series.slice(0, 10) : [];\n  const totalVisits = sources.reduce((sum, item) => sum + (Number(item.visits) || 0), 0);\n\n  return [\n    rules(\n      'senior growth marketing analyst и CRO-аналитик сайта ГРУЗАП',\n      'качество трафика, вовлечение, польза каналов и переходы в Telegram',\n      'Учитывай и сильные стороны, и ограничения посадки.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Сессии', summary.sessions || 0),\n    metricLine('Пользователи', summary.users || 0),\n    metricLine('Показатель отказов', round(summary.bounce_rate || 0, 2) + '%'),\n    metricLine('Средняя сессия', round(summary.avg_session_min || 0, 2) + ' мин'),\n    metricLine('Telegram/startURL сессии', summary.bot_sessions || 0),\n    metricLine('Доля Telegram/startURL', round(summary.bot_activation_percent || 0, 2) + '%'),\n    'Источники трафика:',\n    sources.map((item) => {\n      const share = totalVisits > 0 ? round((Number(item.visits || 0) / totalVisits) * 100, 1) : 0;\n      return '- ' + normalizeTrafficSource(item.name) + ': ' + (item.visits || 0) + ' визитов, доля ' + share + '%';\n    }).join('\\n') || '- Нет данных по источникам',\n    'Переходы в Telegram:',\n    botPages.map((item) => '- ' + normalizeBotPage(item.name) + ': ' + (item.visits || 0) + ' визитов').join('\\n') || '- Нет переходов в Telegram',\n    'Динамика по дням:',\n    series.map((item) => '- ' + (item.date || item.label || '') + ': ' + (item.visits || 0) + ' сессий, ' + (item.users || 0) + ' пользователей').join('\\n') || '- Нет дневного ряда',\n  ].join('\\n');\n}\n\nfunction buildDirectPrompt(data) {\n  const summary = data?.summary || {};\n  const daily = Array.isArray(data?.daily) ? data.daily.slice(0, 10) : [];\n\n  return [\n    rules(\n      'senior performance marketing lead и сильный директолог ГРУЗАП',\n      'эффективность платного трафика, качество клика, конверсии и CPA',\n      'Если цифры неоднозначны, не делай категоричных выводов.'\n    ),\n    'Период: ' + periodName,\n    'Данные:',\n    metricLine('Расход', round(summary.spend || 0, 2)),\n    metricLine('Показы', summary.impressions || 0),\n    metricLine('Клики', summary.clicks || 0),\n    metricLine('CTR', round(summary.ctr || 0, 2) + '%'),\n    metricLine('Средний CPC', round(summary.avg_cpc || 0, 2)),\n    metricLine('Конверсии', round(summary.conversions || 0, 2)),\n    metricLine('CR', round(summary.cr || 0, 2) + '%'),\n    metricLine('CPA', round(summary.cpa || 0, 2)),\n    'Дневная динамика:',\n    daily.map((item) => '- ' + (item.date || '') + ': расход ' + round(item.spend || 0, 2) + ', клики ' + (item.clicks || 0) + ', CTR ' + round(item.ctr || 0, 2) + '%, конверсии ' + round(item.conversions || 0, 2) + ', CPA ' + round(item.cpa || 0, 2)).join('\\n') || '- Нет дневного ряда',\n  ].join('\\n');\n}\n\nlet prompt = '';\nif (tab === 'metrika') prompt = buildMetrikaPrompt(payload);\nelse if (tab === 'direct') prompt = buildDirectPrompt(payload);\nelse prompt = buildAppPrompt(payload);\n\nreturn [{\n  json: {\n    prompt,\n    tab,\n    period_name: periodName,\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20012",
        "name": "Parse AI JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          960
        ],
        "parameters": {
          "jsCode": "const raw = $input.first().json || {};\n\nfunction extractText(value) {\n  if (typeof value === 'string') return value;\n  if (typeof value?.text === 'string') return value.text;\n  if (typeof value?.output === 'string') return value.output;\n  if (typeof value?.response === 'string') return value.response;\n  if (typeof value?.result === 'string') return value.result;\n  if (Array.isArray(value?.messages)) {\n    return value.messages\n      .map((item) => item?.text || item?.content || '')\n      .filter(Boolean)\n      .join('\\n');\n  }\n  return '';\n}\n\nfunction stripCodeFence(text) {\n  const value = String(text || '').trim();\n  if (value.startsWith('\\`\\`\\`')) {\n    return value.replace(/^\\`\\`\\`[a-zA-Z]*\\s*/, '').replace(/\\s*\\`\\`\\`$/, '').trim();\n  }\n  return value;\n}\n\nconst rawText = stripCodeFence(extractText(raw) || extractText(raw.json) || extractText(raw.data));\nlet parsed = null;\nlet parseError = null;\n\nif (rawText) {\n  try {\n    parsed = JSON.parse(rawText);\n  } catch (error) {\n    parseError = error.message;\n  }\n}\n\nreturn [{\n  json: {\n    raw_text: rawText,\n    parsed_json: parsed,\n    parse_error: parseError,\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20013",
        "name": "Validate AI Response Contract",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          960
        ],
        "parameters": {
          "jsCode": "const prepared = $('Prepare Analytics Prompt').first().json || {};\nconst parsed = $input.first().json || {};\nconst errors = [];\nconst warnings = [];\nconst analysis = parsed.parsed_json;\n\nfunction pushError(code, field, message) {\n  errors.push({ code, field, message });\n}\n\nif (!analysis || typeof analysis !== 'object' || Array.isArray(analysis)) {\n  pushError('invalid_ai_response', 'analysis', parsed.parse_error || 'AI response is not a valid JSON object');\n}\n\nif (analysis && typeof analysis === 'object' && !Array.isArray(analysis)) {\n  if (typeof analysis.title !== 'string' || !analysis.title.trim()) {\n    pushError('invalid_ai_response', 'analysis.title', 'title must be a non-empty string');\n  }\n  if (typeof analysis.verdict !== 'string' || !analysis.verdict.trim()) {\n    pushError('invalid_ai_response', 'analysis.verdict', 'verdict must be a non-empty string');\n  }\n  if (!Array.isArray(analysis.good) || analysis.good.length !== 2 || analysis.good.some((item) => typeof item !== 'string' || !item.trim())) {\n    pushError('invalid_ai_response', 'analysis.good', 'good must contain exactly 2 non-empty strings');\n  }\n  if (!Array.isArray(analysis.bad) || analysis.bad.length < 2 || analysis.bad.length > 3 || analysis.bad.some((item) => typeof item !== 'string' || !item.trim())) {\n    pushError('invalid_ai_response', 'analysis.bad', 'bad must contain 2 or 3 non-empty strings');\n  }\n  if (!Array.isArray(analysis.next_steps) || analysis.next_steps.length !== 3 || analysis.next_steps.some((item) => typeof item !== 'string' || !item.trim())) {\n    pushError('invalid_ai_response', 'analysis.next_steps', 'next_steps must contain exactly 3 non-empty strings');\n  }\n  if (!['high', 'medium', 'low'].includes(analysis.confidence)) {\n    pushError('invalid_ai_response', 'analysis.confidence', 'confidence must be high, medium, or low');\n  }\n}\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    warnings,\n    analysis: errors.length === 0 ? analysis : null,\n    tab: prepared.tab || null,\n    period_name: prepared.period_name || '',\n    model: 'claude-sonnet-4-5-20250929',\n  }\n}];"
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20014",
        "name": "AI Response Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -96,
          960
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20014-condition",
                "leftValue": "={{ $json.valid }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "7ef13fbb-66cb-4e0c-8d4e-5412e1c20015",
        "name": "Build Invalid AI Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          1152
        ],
        "parameters": {
          "jsCode": "const input = $('Validate AI Response Contract').first().json || {};\n\nreturn [{\n  json: {\n    success: false,\n    partial_failure: false,\n    errors: Array.isArray(input.errors) ? input.errors : [{\n      code: 'invalid_ai_response',\n      field: 'analysis',\n      message: 'AI response did not pass validation',\n    }],\n    warnings: Array.isArray(input.warnings) ? input.warnings : [],\n    tab: input.tab || null,\n    period_name: input.period_name || '',\n    analysis: null,\n    analysis_text: null,\n    model: input.model || 'claude-sonnet-4-5-20250929',\n  }\n}];"
        }
      },
      {
        "id": "f0d2f7d2-2a70-4a5f-9e35-c2a21b31c111",
        "name": "Format Analytics Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          128,
          960
        ],
        "parameters": {
          "jsCode": "const input = $('Validate AI Response Contract').first().json || {};\nconst analysis = input.analysis || null;\n\nfunction renderAnalysisText(value) {\n  if (!value) return null;\n  return [\n    value.title,\n    '',\n    'Вердикт: ' + value.verdict,\n    '',\n    'Что хорошо:',\n    ...value.good.map((item) => '- ' + item),\n    '',\n    'Что ухудшает результат:',\n    ...value.bad.map((item) => '- ' + item),\n    '',\n    'Что делать дальше:',\n    ...value.next_steps.map((item, index) => String(index + 1) + '. ' + item),\n    '',\n    'Уровень уверенности: ' + value.confidence,\n  ].join('\\n');\n}\n\nreturn [{\n  json: {\n    success: true,\n    partial_failure: false,\n    errors: [],\n    warnings: [],\n    tab: input.tab || null,\n    period_name: input.period_name || '',\n    analysis,\n    analysis_text: renderAnalysisText(analysis),\n    model: input.model || 'claude-sonnet-4-5-20250929',\n  }\n}];"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Normalize Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Request": {
        "main": [
          [
            {
              "node": "Validate Request Contract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Request Contract": {
        "main": [
          [
            {
              "node": "Dashboard Request Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dashboard Request Valid?": {
        "main": [
          [
            {
              "node": "Resolve Source Config",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Validation Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Source Config": {
        "main": [
          [
            {
              "node": "Should Fetch AppMetrica?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Fetch AppMetrica?": {
        "main": [
          [
            {
              "node": "Fetch AppMetrica Events",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Finalize AppMetrica Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch AppMetrica Events": {
        "main": [
          [
            {
              "node": "Format App Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format App Events": {
        "main": [
          [
            {
              "node": "Fetch AppMetrica Geo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch AppMetrica Geo": {
        "main": [
          [
            {
              "node": "Fetch AppMetrica Inst1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch AppMetrica Inst1": {
        "main": [
          [
            {
              "node": "Fetch AppMetrica Inst2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch AppMetrica Inst2": {
        "main": [
          [
            {
              "node": "Finalize AppMetrica Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize AppMetrica Result": {
        "main": [
          [
            {
              "node": "Should Fetch Metrika?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Fetch Metrika?": {
        "main": [
          [
            {
              "node": "Fetch Metrika Summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Finalize Metrika Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Metrika Summary": {
        "main": [
          [
            {
              "node": "Fetch Metrika By Time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Metrika By Time": {
        "main": [
          [
            {
              "node": "Fetch Metrika Sources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Metrika Sources": {
        "main": [
          [
            {
              "node": "Fetch Metrika Bot Traffic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Metrika Bot Traffic": {
        "main": [
          [
            {
              "node": "Finalize Metrika Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize Metrika Result": {
        "main": [
          [
            {
              "node": "Should Fetch Direct?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Fetch Direct?": {
        "main": [
          [
            {
              "node": "Build Direct Request Body",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Finalize Direct Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Direct Request Body": {
        "main": [
          [
            {
              "node": "Fetch Direct Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Direct Report": {
        "main": [
          [
            {
              "node": "Finalize Direct Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Finalize Direct Result": {
        "main": [
          [
            {
              "node": "Collect Source Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Source Results": {
        "main": [
          [
            {
              "node": "Build Dashboard Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Analytics": {
        "main": [
          [
            {
              "node": "Normalize Analytics Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Analytics Request": {
        "main": [
          [
            {
              "node": "Validate Analytics Request Contract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Analytics Request Contract": {
        "main": [
          [
            {
              "node": "Analytics Request Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analytics Request Valid?": {
        "main": [
          [
            {
              "node": "Prepare Analytics Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Analytics Validation Error Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Analytics Prompt": {
        "main": [
          [
            {
              "node": "Generate Analytics Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Analytics Analysis",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Generate Analytics Analysis": {
        "main": [
          [
            {
              "node": "Parse AI JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI JSON": {
        "main": [
          [
            {
              "node": "Validate AI Response Contract",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate AI Response Contract": {
        "main": [
          [
            {
              "node": "AI Response Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Response Valid?": {
        "main": [
          [
            {
              "node": "Format Analytics Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Invalid AI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Team GRUZAPP",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-20T10:08:01.901Z",
        "id": 394,
        "workflowId": "xfoZCPSjPCjzMTuNcBTMC",
        "versionId": "1ab199b9-0bab-4183-9d33-f93d34b5dfc0",
        "event": "activated",
        "userId": "8c198d67-eb0f-4a48-9c61-2f1293e85514"
      }
    ]
  }
}
